<div class="container" style="padding-top: 120px; padding-bottom: 80px;">
    <div class="row justify-content-center content-my-account">
        <div class="col-md-6 col-sm-12 col-12 content-my-account-right">
            <h2 style="padding-bottom: 20px;">Update Category</h2>
            <form #categoryform="ngForm" (ngSubmit)="OnSubmit()">
              <div *ngIf="showSuccess; else thenfaild">
                <div class="alert alert-success" role="alert">
                    Category Updated
                </div>
               </div>
               <ng-template #thenfaild></ng-template>
              
               <div *ngIf="showError; else elseBlock">
                <div class="alert alert-warning" role="alert">
                    {{errorMessage.error | json}}
                </div>
              </div>
              <ng-template #elseBlock></ng-template>
             
              <div *ngIf="currentCategory" class="edit-form">          
                <div class="form-holder">
                    <p>Category Name <span style="color: #ffa6a8;"> *</span></p>
                    <input  type="text" class="form-control" id="name" [(ngModel)]="currentCategory.name" name="name">
                </div>
              </div>               
                <button type="submit"  class="bt" [disabled]="!categoryform.valid" >Update</button>
                <br>  
                <div class="row justify-content-center content-my-account">
                    <a  href="/category" class="" style="color: #ffa6a8;">Show All Categories</a>
                </div> 
            </form>
          
        </div>
    </div>
</div>