<footer class="app-footer">
  <div class="container-fluid text-center py-3" style="color: #fff; background-color: #000;">
    <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
    <small class="copyright"
      >© 2021
      <a class="app-link" href="http://localhost:3000" target="_blank" style="color: #fff; "
        >Handy® Global Inc.</a
      >
      for users</small
    >
  </div>
</footer>
<!--//app-footer-->
