 <app-header-after-login></app-header-after-login>
<div class="title-page"
     style="background-image: url('https://via.placeholder.com/1920x345.jpg/f5f2f2/e8e8e7');background-position: center center;background-size: cover;">
    <div class="container">
        <div class="row">
            <div class=" col-md-6 inner-title-page">
                <h1>Shop</h1>
                <p><span>Home</span> / Shop / Wishlist</p>
            </div>
        </div>
    </div>
</div>

<div class="container ">
    <div class="row content-cart">
        <table class="table cart-desktop">
            <thead>
            <tr>
                <th scope="col" ></th>
                <th scope="col" >Product Image</th>
                <th scope="col">Product Name</th>
                <th scope="col">Product Price</th>
                <th scope="col">Size</th>
                <th scope="col">Add to cart</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of products" >
                <td><button (click)=" RemoveProductFromWishlist(product.id);" routerLink="/Wishlist" class="remove">X</button></td>
                <td><img [src]="createImgPath(product.productImagePath)" style="width: 80px;height: 70px;" alt=""></td>
                <td>{{product.productName}} </td>
                <td>{{product.unitPrice}}</td>
                <td>{{product.size}}</td>
                <td>
                    <button  class="shop-now">SHOP NOW</button>
                </td>

            </tr>
            </tbody>
        </table>

        <!-- <div class="cart-mobile">
            <table class="table">
                <tr>
                    <td colspan="2">
                        <img src="https://via.placeholder.com/100x85.jpg" alt="">
                    </td>
                </tr>
                <tr>
                    <th>Product name</th>
                    <td>Skin recreation</td>
                </tr>
                <tr>
                    <th>Product Price</th>
                    <td>$56</td>
                </tr>
                <tr>
                    <th>Stock Status</th>
                    <td>
                        <i class="fas fa-check-circle"></i> Instock
                    </td>
                </tr>
                <tr>
                    <th>Add to cart</th>
                    <td><button class="shop-now">SHOP NOW</button></td>
                </tr>
            </table>
            <span>X</span>
        </div> -->
        <!-- <div class="cart-mobile">
            <table class="table">
                <tr>
                    <td colspan="2">
                        <img src="https://via.placeholder.com/100x85.jpg" alt="">
                    </td>
                </tr>
                <tr>
                    <th>Product name</th>
                    <td>Skin recreation</td>
                </tr>
                <tr>
                    <th>Product Price</th>
                    <td>$48</td>
                </tr>
                <tr>
                    <th>Stock Status</th>
                    <td>
                        <i class="fas fa-check-circle"></i> Instock
                    </td>
                </tr>
                <tr>
                    <th>Add to cart</th>
                    <td><button class="shop-now">SHOP NOW</button></td>
                </tr>
            </table>
            <span>X</span>
        </div> -->

        <div class="card-button">
            <button type="button" (click)="ClearWishlist()" class=" btn float-left clear-wishlist">CLEAR WISHLIST</button>
            <button type="button" class=" btn float-left update-wishlist">UPDATE WISHLIST</button>
            <button type="button" class=" btn float-right go-shopping float-right">GO SHOPPING</button>
        </div>
    </div>

</div>