<app-seller-navbar></app-seller-navbar>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 mb-3">
            <div class="card" style="background: #e9eaeb79;">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <img src="../../assets/images/user.png" class="rounded-circle" width="150">
                        <div class="mt-3">
                            <h4>{{user.userName}}</h4>
                            <p class="text-muted font-size-sm">Egypt , {{user.city}}</p>
                            <p>
                                <span *ngFor="let num of list">
                                    <i class="fas fa-star"></i>
                                </span>
                                <span *ngFor="let item of list1">
                                    <i class="far fa-star"></i>
                                </span>
                                &nbsp; ({{CountReviews}} customer review)
                            </p>
                            <button routerLink="/Chat" class="btn"
                                style="border:2px solid #FFA6A8;color: #FFA6A8;">Message</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-lg-8 col-sm-12">
            <div class="container">
                <div class="product-out" style="padding-top: 0px;margin-top:-78px ;padding-bottom: 50px;">
                    <!-- The slideshow -->
                    <div class="carousel-inner">
                        <div class="carousel-item active" style="padding-top: 0px;margin-top: 0px;">
                            <div class="row product">
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6 col-12"
                                    *ngFor="let product of productsPerPage ">
                                    <div class="card">
                                        <div class="card-img-top">
                                            <a href="product-single.html" class="wp-post-image">
                                                <img [src]="createImgPath(product.productImagePath)"
                                                    style="height: 250px;">
                                            </a>
                                            <p *ngIf="!hasDiscount(product)" class="onnew">New</p>
                                            <p *ngIf="hasDiscount(product)" class="onsale">Sale</p>
                                            <div class="icon-product">
                                                <button style="margin-top: 90%;" class="btn"
                                                    (click)="AddItemToCart(product.id)">
                                                    <span class="fa fa-cart-plus"></span>
                                                </button>
                                                <button style="margin-top: 90%;" type="button"
                                                    class="btn click-quick-view" href="/ProductDetails/{{product.id}}">
                                                    <span class="fa fa-search-plus"></span>
                                                </button>
                                                <button style="margin-top: 90%;" class="btn"
                                                    (click)="AddToWishList(product.id)">
                                                    <span class="fas fa-heart"> </span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-title"><a href="/SellerProfile/{{product.userName}}">
                                                    Added by
                                                    {{product.userName}} </a></p>
                                            <p class="woocommerce-loop-product__title"><a href="product-single.html">
                                                    {{product.productName}}</a></p>
                                            <span class="price">
                                                <del *ngIf="hasDiscount(product)">
                                                    <span class="woocommerce-Price-amount amount">
                                                        <span
                                                            class="woocommerce-Price-currencySymbol">$</span>{{product.unitPrice}}
                                                    </span>
                                                </del>
                                                <ins>
                                                    <span class="woocommerce-Price-amount amount">
                                                        <span
                                                            class="woocommerce-Price-currencySymbol">$</span>{{getPriceAfterDiscount(product)}}
                                                    </span>
                                                </ins>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav aria-label="..." class="col-12 mt-5">
                        <div class="d-inline-block">
                            <ul class="pagination">
                                <li class="page-item"
                                    [ngClass]="{disabled:currentPageNumber <=1, cursorNotAllowed:currentPageNumber <=1}">
                                    <button style="color: #000;" class="page-link" [disabled]="currentPageNumber <=1"
                                        (click)="getSelectedPage(currentPageNumber-1)">Previous</button>
                                </li>
                                <li class="page-item" *ngFor='let x of counter(numberOfPages);let i = index'
                                    [class.active]="currentPageNumber == (i+1)">
                                    <button class="page-link" id="page-link" (click)="getSelectedPage(i+1)">{{i+1}}
                                    </button>
                                </li>
                                <li class="page-item"
                                    [ngClass]="{disabled:currentPageNumber >=numberOfPages, cursorNotAllowed:currentPageNumber >=numberOfPages}">
                                    <button style="color: #000;" class="page-link"
                                        [disabled]="currentPageNumber >= numberOfPages"
                                        (click)="getSelectedPage(currentPageNumber+1)">Next</button>
                                </li>
                            </ul>
                        </div>
                        <div class="float-right h5 mr-4 text-secondary">Showing {{currentPageNumber}} of
                            {{numberOfPages}}</div>
                    </nav>
                </div>
            </div>
            <!--end Product out-->
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">User Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{user.userName}}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Email</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{user.email}}
                        </div>
                    </div>
                    <hr>
                    <a class="btn btn-info" style="background: #FFA6A8;border: #FFA6A8;color: #fff;">Edit</a>
                </div>
            </div>
            <div class="information" style="padding-top: 0px;margin-top: 0px;">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item active">
                        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                            aria-controls="pills-contact" aria-selected="false">Reviews ({{CountReviews}})</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade active" id="pills-contact" role="tabpanel"
                        aria-labelledby="pills-contact-tab">
                        <div class="woocommerce-Reviews active" id="reviews">
                            <h2>{{CountReviews}} review for Reframe Your Viewpoints</h2>
                            <div id="comments" *ngFor="let item of ReviewsList;let i =index">
                                {{satrs(item)}}
                                <div class="comment-list">
                                    <div class="comment-item">
                                        <div class="comment-content">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <img src="../../assets/images/user.png"
                                                        style="width:100px;height: 100px;border-radius: 50%;">
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="comment-body">
                                                        <div class="comment-author">
                                                            <span class="author"
                                                                style="color: #000;font-weight: bold;">{{UsersList[i]}}</span>
                                                            <p>
                                                                <span *ngFor="let num of list2">
                                                                    <i class="fas fa-star"></i>
                                                                </span>
                                                                <span *ngFor="let item of list3">
                                                                    <i class="far fa-star"></i>
                                                                </span>
                                                            </p>
                                                        </div>
                                                        <p style="color: #000;">{{item.content}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>