
  
    .form-control:focus {
      border: 1px solid #ffa6a8; }
  
  @media (max-width: 767px) {
    form {
      padding: 35px;
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -ms-box-shadow: none;
      -o-box-shadow: none; }
}
    #login:hover{
       opacity: .5;
    }
    .show{
      display: block;
  }
  .hide{
      display: none;
  }