<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
 <!--item homepage-->
  <div class="container lastest" style="padding-top: 70px;padding-bottom: 70px;">
    <div class="title" style="margin-bottom: 30px;">
        <h2 class="text-center">Services</h2>
        <p style="margin-top: 10px;color: gray;">We offer you the best services, shop now</p>
    </div>
    <div class="row item-homepage justify-content-center " > 
        <div class="col-lg-4 col-md-5 col-sm-12   content-item-homepage" style="display: inline-block;">
            <div class="wpb_wrapper">
                <div class="banner-section">
                    <div class="inner-banner-section">
                        <h2>Food</h2>
                        <img src="../../../assets/images/food5.jpg" alt="" width="100%" height="250px">
                        <br>
                        <div class="row justify-content-center">
                            <button ><a routerLink="/HandmadeProducts">Shop Now</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-12  content-item-homepage" >
            <div class="wpb_wrapper">
                <div class="banner-section">
                    <div class="inner-banner-section">
                        <h2>Handicrafts</h2>
                        <img src="../../../assets/images/handmade.jpg" width="100%" height="250px" alt="">
                        <br>
                        <div class="row justify-content-center">
                          <button><a routerLink="/HandmadeProducts">Shop Now</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end item homepage-->