<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<!--item homepage-->
<div class="container lastest" style="padding-top: 60px;padding-bottom: 70px;">
    <div style="margin-bottom: 30px;">
        <h2 class="text-center">Services</h2>
        <p style="margin-top: 10px;color: gray;">We offer you the best services, shop now</p>
    </div>
    <div class="row item-homepage justify-content-center ">
        <div class="col-lg-5 col-md-6 col-sm-12   content-item-homepage" style="display: inline-block;">
            <div class="wpb_wrapper">
                <div class="banner-section">
                    <div class="inner-banner-section">
                        <h2>Food</h2>
                        <img src="../../../assets/images/f.jpg" style="border: 1px solid rgb(189, 187, 187);;"
                            width="50%" height="180px">
                        <img src="../../../assets/images/d.jpg" style="border: 1px solid rgb(189, 187, 187);;"
                            width="50%" height="180px">
                        <img src="../../../assets/images/dd.jpg" style="border: 1px solid rgb(189, 187, 187);;"
                            width="50%" height="180px">
                        <img src="../../../assets/images/ff.jpg" style="border: 1px solid rgb(189, 187, 187);"
                            width="50%" height="180px">
                        <div class="row justify-content-center">
                            <button><a href="/HandmadeProducts/1" style="color: #fff;">Shop Now</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12  content-item-homepage">
            <div class="wpb_wrapper">
                <div class="banner-section">
                    <div class="inner-banner-section">
                        <h2>Handicrafts</h2>
                        <img src="../../../assets/images/toy.jpg" style="border: 1px solid rgb(189, 187, 187);;"
                            width="50%" height="180px">
                        <img src="../../../assets/images/col.jpg" style="border: 1px solid rgb(189, 187, 187);;"
                            width="50%" height="180px">
                        <img src="../../../assets/images/tool.jpg" style="border: 1px solid rgb(189, 187, 187);;"
                            width="50%" height="180px">
                        <img src="../../../assets/images/wedding.jpg" style="border: 1px solid rgb(189, 187, 187);"
                            width="50%" height="180px">
                        <br>
                        <div class="row justify-content-center">
                            <button><a href="/HandmadeProducts/1" style="color: #fff;">Shop Now</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end item homepage-->
<!-- code review home-->
<div class="container-fluid">
    <div class="row review-homepage" style=" background:aliceblue; margin-top: 70px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    ">
        <div class="container" style="margin-bottom: 50px;padding-left: 40px;padding-right: 40px;">
            <div class="row ">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li *ngFor="let item of list|slice:1:list.length;let i=index" data-target="#carouselExampleIndicators"
                            data-slide-to="{{i}}"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active" *ngFor="let review of SellerReviewList | slice:0:1;let i= index">
                            <div class="content-review-homepage">
                                <img src="../../../assets/images/user.png"  alt="">
                                <h3 >{{usersList[i]}}</h3>
                                <p>
                                    <span> 
                                       <i class="fas fa-star"></i>
                                       <i class="fas fa-star"></i>
                                       <i class="fas fa-star"></i>
                                       <i class="fas fa-star"></i>
                                       <i class="fas fa-star"></i>
                                    </span>
                                </p>
                                <p style="padding-bottom: 100px;">
                                    {{review.content}}
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item" *ngFor="let review of SellerReviewList | slice:1:SellerReviewList.length;let i= index">
                            <div class="content-review-homepage">
                                <img src="../../../assets/images/user.png"  alt="">
                                <h3 >{{usersList[i]}}</h3>
                                <p>
                                    <span> 
                                       <i class="fas fa-star"></i>
                                       <i class="fas fa-star"></i>
                                       <i class="fas fa-star"></i>
                                       <i class="fas fa-star"></i>
                                       <i class="fas fa-star"></i>
                                    </span>
                                </p>
                                <p style="padding-bottom: 100px;">
                                    {{review.content}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
    <!--end code review home-->
    <!--content contact us-->
    <div class="contact-us">
        <div class="container">
            <div class="content-contact-us">
                <div class="row">
                    <div class="col-md-6">
                        <h1>Contact Us</h1>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="list-inline">
                                    <li>
                                        <p>Egypt</p>
                                    </li>
                                    <li>No 40 Baria Sreet 133/2
                                        NewYork 13589
                                    </li>
                                    <li>Email: handyteam@gmail.com
                                        Phone: (20) 010555555555
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-inline">
                                    <li>
                                        <p>Barcelona</p>
                                    </li>
                                    <li>184 Main Collins Street West 8007
                                        Barselona 23765
                                    </li>
                                    <li>Email: handyteam@gmail.com
                                        Phone: (20) 010555555555
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-facebook"></i></a>
                        <a href=""><i class="fab fa-linkedin-in"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                    </div>
                    <div class="col-md-6">
                        <form action="#" method="post">
                            <textarea placeholder="Message"></textarea>
                            <div class="row">
                                <div class="col-md-6"><input type="text" placeholder="Your Name"></div>
                                <div class="col-md-6"><input type="text" placeholder="Your Mail"></div>
                            </div>
                            <button type="submit">SUBMIT</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>