    <!--item homepage-->
    <div class="container" >
        <div class="row item-homepage justify-content-center"  > 
            <div class="col-lg-6 col-md-5 col-sm-12   content-item-homepage" style="display: inline-block;">
                <div class="wpb_wrapper" >
                    <div class="banner-section">
                        <div class="inner-banner-section">
                            <h2>Food</h2>
                            <img src="../../../assets/images/food.jpg" alt="" width="508px" height="300px">
                            <br>
                            <div class="row justify-content-center">
                                <button ><a routerLink="/HandmadeProducts">Shop Now</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-5 col-sm-12  content-item-homepage" style="display: inline-block;">
                <div class="wpb_wrapper">
                    <div class="banner-section">
                        <div class="inner-banner-section">
                            <h2>Other Handmades</h2>
                            <img src="../../../assets/images/handmade.jpg" width="508px" height="300px" alt="">
                            <br>
                            <div class="row justify-content-center">
                              <button><a routerLink="/HandmadeProducts">Shop Now</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end item homepage-->