<div class="app-content pt-5 p-md-3 p-lg-4 mt-5">
    <div class="container-xl">
        <div class="position-relative mb-3">
            <div class="table-responsive">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-5">
                                <h2><b>Client Management</b></h2>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Password</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of clients">
                                <td>{{item.id}}</td>
                                <td>
                                    {{item.firstName + " " + item.lastName}}
                                </td>
                                <td>{{item.email}}</td>
                                <td>{{item.password}}</td>
                                <td>
                                    <a class="settings" title="Settings" data-toggle="tooltip"><i class="fas fa-edit"></i></a>
                                    <a class="delete" title="Delete" data-toggle="tooltip"><i class="fas fa-times-circle" (click)="deleteClient(item)"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="clearfix">
                        <div class="hint-text">Showing <b>5</b> out of <b>{{clients.length}}</b> entries</div>
                        <ul class="pagination">
                            <li class="page-item disabled"><a href="#">Previous</a></li>
                            <li class="page-item active"><a href="#" class="page-link">1</a></li>
                            <li class="page-item"><a href="#" class="page-link">2</a></li>
                            <li class="page-item "><a href="#" class="page-link">3</a></li>
                            <li class="page-item"><a href="#" class="page-link">4</a></li>
                            <li class="page-item"><a href="#" class="page-link">5</a></li>
                            <li class="page-item"><a href="#" class="page-link">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>