<div class="chartjs-container">
    <canvas baseChart 
        [datasets]="lineChartsData" 
        [labels]="lineChartsLabels" 
        [options]="lineChartsOptions"
        [colors]="lineChartsColors" 
        [legend]="lineChartsLegend" 
        [chartType]="lineChartsType" 
        [plugins]="lineChartsPlugins"
        (chartHover)="chartHovered($event)" 
        (chartClick)="chartClicked($event)">
    </canvas>
</div>
<canvas baseChart 
      height="200" 
      width="400" 
      [datasets]="lineChartsData">
</canvas>