<div class="app-content pt-5 p-md-3 p-lg-4 mt-5">
    <div class="container-xl">

        <h1 class="app-page-title">Charts</h1>
        <div class="row g-4 mb-4">
            <div class="col-12 col-lg-6">
                <div class="app-card app-card-chart  bg-white ">
                    <div class="app-card-header p-3 border-0 h-100">
                        <h4 class="app-card-title">React pages</h4>
                    </div>
                    <!--//app-card-header-->
                    <div class="app-card-body p-4">
                        <div class="chart-container">
                            <app-doughnut-chart></app-doughnut-chart>
                        </div>
                    </div>
                    <!--//app-card-body-->
                </div>
                <!--//app-card-->
            </div>
            <!--//col-->
            <div class="col-12 col-lg-6  mb-5">
                <div class="app-card bg-white app-card-chart h-100 ">
                    <div class="app-card-header p-3  border-0">
                        <h4 class="app-card-title">Bar Chart Demo</h4>
                    </div>
                    <!--//app-card-header-->
                    <div class="app-card-body p-4">
                        <div class="chart-container">
                            <app-bar-chart></app-bar-chart>
                        </div>
                    </div>
                    <!--//app-card-body-->
                </div>
                <!--//app-card-->
            </div>
            <!--//col-->
            <div class="col-12 col-lg-6 mb-3">
                <div class="app-card app-card-chart bg-white">
                    <div class="app-card-header p-3 border-0 h-100">
                        <h4 class="app-card-title">Dashboard pages</h4>
                    </div>
                    <!--//app-card-header-->
                    <div class="app-card-body p-4">
                        <div class="chart-container">
                            <app-pie-chart></app-pie-chart>
                        </div>
                    </div>
                    <!--//app-card-body-->
                </div>
                <!--//app-card-->
            </div>
            <!--//col-->

            <div class="col-12 col-lg-6 mb-5">
                <div class="app-card app-card-chart bg-white">
                    <div class="app-card-header p-3 border-0">
                        <h4 class="app-card-title">Area Line Chart Demo</h4>
                    </div>
                    <!--//app-card-header-->
                    <div class="app-card-body p-4">
                        <div class="chart-container">
                            <app-line-chart></app-line-chart>
                        </div>
                    </div>
                    <!--//app-card-body-->
                </div>
                <!--//app-card-->
            </div>
            
           
            <!--//col-->
        </div>
        <!--//row-->
    </div>
    <!--//container-fluid-->
</div>
<!--//app-content-->