
<form style="padding-top:70px;" (onUploadFinished)="uploadFinished($event)">
    <div class="row" style="margin-bottom: 10px;">
      <div class="col-lg-6">
        <h3 class="page-heading mb-4 ">
          {{currentseller.firstName}} {{currentseller.lastName}}</h3>
      </div>
      <div class="col-lg-6" style="text-align: right; ">
        <a class="btn btn-primary" href="/seller" style="color: #fff;">Back to sellers</a>
      </div>
    </div>
      <div class="row ">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4 " >
          <div class="table-responsive " >
            <table class="table center-aligned-table bg-white">
              <thead>
                <tr class="text-primary">
                  <th>No</th>
                  <th>Frist Name</th>
                  <th>Last Name</th>
                  <th>Phone</th>
                  <th>Governorate</th>   
                  <th>Block Number</th>        
                </tr>
              </thead>
              <tbody>
                <tr >
                  <td>{{currentseller.id}}</td>
                  <td>{{currentseller.firstName}}</td>
                  <td>{{currentseller.lastName}}</td>
                  <td>{{currentseller.phone}}</td>
                  <td>{{currentseller.governorate}}</td>
                  <td>{{currentseller.blockNumber}}</td>
                </tr>
              </tbody>
            </table>
            <div class="bg-white">
              <label style="font-size: 20px;padding-top: 18px;padding-left: 10px;padding-right: 10px;">Profile Link : </label>
              <a class="text-primary" href="" style="font-size: 15px;">{{currentseller.link}}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
           <div class="card ">
             <div class="card-body personal">
              <img [src]="createImgPath(currentseller.idCardImage)" >
              </div>
            </div>
        </div> 
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 ">
          <div class="card ">
            <div class="card-body personal">
               <img [src]="createImgPath(currentseller.personWithCardImage)">
             </div>
           </div>
        </div> 
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
          <div class="card ">
            <div class="card-body personal">
              <img [src]="createImgPath(currentseller.productWithCardImage)">
            </div>
          </div>
        </div> 
      </div>
      <div class="row " style="align-items: center;">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
         <button style="float: left;" class="btn-primary" (click)="blockSeller()">Block</button>
         <button style="float: right;" class="btn-danger" (click)="deleteSeller(currentseller.id)">Delete</button>
        </div>
      </div>
    </form>
  