
<div class="row mb-2" style="padding-top: 100px;width: 100%;margin: 0px;">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title mb-4" style="display: inline-block;margin-right: 40px;">Categories Table </h5>
          <a  href="/addcategory" class="btn btn-sm" style="color: white;background-color: #ffa6a8;">Add New Category</a>
          <div class="table-responsive">
            <table class="table center-aligned-table">
              <thead>
                <tr class="text-primary">
                  <th>No</th>
                  <th>Category Name</th>
                  <th>Editing</th>
                  <th>Delete</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr class="" *ngFor="let category of CategoryList ">
                  <td>{{category.id}}</td>
                  <td>{{category.name}}</td>
                  <td><a href="/updatecategory/{{category.id}}" class="btn btn-primary btn-sm" style="color: #fff;">Update</a></td>
                  <td><a href="/category" class="btn btn-danger btn-sm" style="color: #fff;" (click)="deleteCategory(category.id)">Remove</a></td >
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
