<div class="app-content pt-5 p-md-3 p-lg-4 mt-5">
    <div class="container-xl">
        <div class="position-relative mb-3">
            <div class="row g-3 justify-content-between">
                <div class="col-auto">
                    <h1 class="app-page-title mb-0">Notifications</h1>
                </div>
                <div class="col-auto">
                    <div class="page-utilities">
                        <select class="form-select form-select-sm w-auto">
              <option selected value="option-1">All</option>
              <option value="option-2">News</option>
              <option value="option-3">Product</option>
              <option value="option-4">Project</option>
              <option value="option-4">Billing</option>
            </select>
                    </div>
                    <!--//page-utilities-->
                </div>
            </div>
        </div>
        <app-notification></app-notification>
        <app-notification></app-notification>
        <app-notification></app-notification>
    </div>
</div>