<div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-right">
  <nav class="bg-white sidebar sidebar-offcanvas" id="sidebar" style="padding-top: 60px;height: 1000px">    
      <div class="user-info">
        <img src="../../../assets/images/faces/face3.jpg" alt="">
        <p class="name">Marwa</p>
        <p class="designation">Manager</p>
      </div>
      <ul class="nav" style="padding-top: 0px;">
        <li class="nav-item ">
          <a class="nav-link" routerLink="/Home">
            <img src="../../../assets/images/icons/1.png" alt="">
            <span class="menu-title">Home</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/category">
            <img src="../../../assets/images/icons/4.png" alt="">
            <span class="menu-title">Categories</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/city">
            <img src="../../../assets/images/icons/009-maps-and-flags.png" alt="">
            <span class="menu-title">Cities</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/request">
            <img src="../../../assets/images/icons/007-star.png" alt="">
            <span class="menu-title">Requests</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sellers">
            <img src="../../../assets/images/icons/5.png" alt="">
            <span class="menu-title">Sellers</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sellers">
            <img src="../../../assets/images/icons/007-fire.png" alt="">
            <span class="menu-title">Products</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <img src="../../../assets/images/icons/015-notification.png" alt="">
            <span class="menu-title">Notifications</span>
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">
            <img src="../../../assets/images/icons/10.png" alt="">
            <span class="menu-title">Settings</span>
          </a>
        </li>
      </ul>
    </nav>
    </div>
  </div>