<div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-right">
  <nav class="bg-white sidebar sidebar-offcanvas" id="sidebar" style="padding-top: 60px;height: 1000px">    
      <div class="user-info">
        <img src="../../../assets/images/faces/face3.jpg" alt="">
        <p class="name">Marwa</p>
        <p class="designation">Manager</p>
      </div>
      <ul class="nav" style="padding-top: 0px;">
        <li class="nav-item ">
          <a class="nav-link" href="index.html">
            <img src="../../../assets/images/icons/1.png" alt="">
            <span class="menu-title">Home</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/category">
            <img src="../../../assets/images/icons/4.png" alt="">
            <span class="menu-title">Categories</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/city">
            <img src="../../../assets/images/icons/009-maps-and-flags.png" alt="">
            <span class="menu-title">Cities</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="pages/ui-elements/buttons.html">
            <img src="../../../assets/images/icons/007-star.png" alt="">
            <span class="menu-title">Requests</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="pages/tables/index.html">
            <img src="../../../assets/images/icons/5.png" alt="">
            <span class="menu-title">Charts</span>
          </a>
        </li>
        <!-- <li class="nav-item has-submenu"> -->
          <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
          <!-- <a >
            <span class="nav-link-text">Categories</span>
            <span class="submenu-arrow">
            
            </span>
          </a> -->
          <!--//nav-link-->
          <!-- <div id="submenu-1" class="collapse submenu submenu-1" data-parent="#menu-accordion">
            <ul class="submenu-list list-unstyled">
              <li class="submenu-item">
                <a class="submenu-link" routerLink="/clientlist" routerLinkActive="router-link-active">Client List</a>
              </li>
              <li class="submenu-item">
                <a class="submenu-link" routerLink="/talentlist" routerLinkActive="router-link-active">Talent List</a>
              </li>
              <li class="submenu-item">
                <a class="submenu-link" routerLink="/notifications"
                  routerLinkActive="router-link-active">Notifications</a>
              </li>
              <li class="submenu-item">
                <a class="submenu-link" routerLink="/myaccount" routerLinkActive="router-link-active">Account</a>
              </li>
              <li class="submenu-item">
                <a class="submenu-link" routerLink="/settings" routerLinkActive="router-link-active">Settings</a>
              </li>
            </ul>
          </div>
        </li> -->
        <li class="nav-item">
          <a class="nav-link submenu-toggle" data-bs-toggle="collapse" href="#submenu-1" role="button"
          aria-expanded="false" aria-controls="submenu-1" data-toggle="collapse" href="#sample-pages" aria-expanded="false" aria-controls="sample-pages">
            <img src="../../../assets/images/icons/9.png" alt="">
            <span class="menu-title">Sample Pages<i class="fa fa-sort-down"></i></span>
          </a>
          <div class="collapse" id="sample-pages">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item">
                <a class="nav-link" href="">
                  Blank Page
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">
                  Login
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">
                  Register
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">
                  404
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">
                  500
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">
            <img src="../../../assets/images/icons/10.png" alt="">
            <span class="menu-title">Settings</span>
          </a>
        </li>
      </ul>
    </nav>
    </div>
  </div>