<app-header-after-login></app-header-after-login>
<!--title page-->
<div class="title-page" 
     style="background-color: #F1EEF1 ;background-image: url('../../assets/images/Cart.jpg');background-position: center right;background-size: 50% 115%;background-repeat: no-repeat;">
    <div class="container">
        <div class="row">
            <div class=" col-md-6 inner-title-page">
                <h1>Cart</h1>
            </div>
        </div>
    </div>
</div>
<!--end title page-->

<!--content cart-->
<div class="container ">
    <div class="row content-cart">
        <table class="table cart-desktop">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col" >Product Image</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Product Price</th>
                    <th scope="col">Product Quantity</th>
                    <th scope="col">Total Price</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of cartItemList; let i= index">
                    <td><button (click)="RemoveItemFromCart(item.productId)" routerLink="/Cart" class="remove">X</button></td>               
                    <td style="float: left;margin-left: 50px;"><img [src]="createImgPath(getProductPathImg(i))" style="width: 80px;height: 70px;" ></td>
                    <td>{{getProductName(i)}}</td>
                    <td>{{item.unitPrice}}</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="prev btn" (click)="decreaseItemQuantity(item.productId,item.quantity)" >-</button>
                            <button type="button" class="show-number btn ">{{item.quantity}}</button>
                            <button type="button" class="next btn " (click)="increaseItemQuantity(item.productId)">+</button>
                        </div>
                    </td>
                    <td><span>${{item.totalPrice}}</span></td>
                </tr>           
            </tbody>
        </table>

        <div class="card-button">
            <button type="button" (click)="ClearCart()" class=" btn float-left clear-wishlist" >CLEAR CART</button>
            <button type="button" class="btn apply float-left">APPLY COUPON</button>
            <button type="button" class="btn update float-right">UPDATE CART</button>
        </div>
        <div class="rocart-total">
            <h2>Cart totals</h2>
            <ul class="list-inline">
                <li class="list-inline-item"><p>Subtotal</p></li>
                <li class="list-inline-item"><span>$ {{getTotalPrice()}}</span></li>
            </ul>
            <ul class="list-inline">
                <li class="list-inline-item"><p>Total</p></li>
                <li class="list-inline-item"><p>$ {{getTotalPrice()}}</p></li>
            </ul>
            <button class="btn float-left" routerLink="/Checkout">PROCEED TO CHECKOUT</button>
        </div>
    </div>
</div>
<!--end content cart-->

