.app-header {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
    border-bottom: 1px solid #e7e9ed;
    height: 56px;
    background: #fff
}

@media(min-width: 1200px) {
    .app-wrapper {
        margin-left: 250px;
    }
}

.app-wrapper {
    transition: all .4s ease-in-out
}

@media(prefers-reduced-motion: reduce) {
    .app-wrapper {
        transition: none
    }
}