<div class="container lastest">
    <div class="title">
        <h2 class="text-center" style="padding: 20px 0;">Latest News</h2>
    </div>
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12 lastest-item">
            <div class="card">
                <div class="row no-gutters">
                    <div class=" col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-6 col-6">
                        <a href="what-we-offer.html"><img src="../../../assets/images/wedding4.jpg" class="card-img" alt="..."></a>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6 col-6">
                        <div class="card-body">
                            <h5 class="card-title"><a href="what-we-offer.html"> But I must explain to you how all
                                this</a></h5>
                            <p class="card-text">
                                By Sugar / May 18.2019
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12 lastest-item">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-6 col-6">
                        <a href="what-we-offer.html"> <img src="../../../assets/images/wedding3.jpg" class="card-img" alt="..."></a>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6 col-6">
                        <div class="card-body">
                            <h5 class="card-title"><a href="what-we-offer.html">Neque porr quisquam dolorem</a></h5>
                            <p class="card-text">
                                By Sugar / May 18.2019
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12 lastest-item">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-6 col-6">
                        <a href="what-we-offer.html"> <img src="../../../assets/images/gift5.jpg" class="card-img" alt="..."></a>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6 col-6">
                        <div class="card-body">
                            <h5 class="card-title"><a href="what-we-offer.html">Ut enim ad minima veniam quis
                                nostrum</a></h5>
                            <p class="card-text">
                                By Sugar / May 18.2019
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12 lastest-item">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-6 col-6">
                        <a href="what-we-offer.html"> <img src="../../../assets/images/gift3.jpg" class="card-img" alt="..."></a>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6 col-6">
                        <div class="card-body">
                            <h5 class="card-title"><a href="what-we-offer.html">Itaque earum rerum hic tenetur</a>
                            </h5>
                            <p class="card-text">
                                By Sugar / May 18.2019
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12 lastest-item">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-6 col-6">
                        <a href="what-we-offer.html"> <img src="../../../assets/images/home6.jpeg" class="card-img" alt="..."></a>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6 col-6">
                        <div class="card-body">
                            <h5 class="card-title"><a href="what-we-offer.html">In a free hour,when our power</a>
                            </h5>
                            <p class="card-text">
                                By Sugar / May 18.2019
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 col-12 lastest-item">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-6 col-6">
                        <a href="what-we-offer.html"> <img src="../../../assets/images/hoop7.jpg" class="card-img" alt="..."></a>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6 col-6">
                        <div class="card-body">
                            <h5 class="card-title"><a href="what-we-offer.html">On the other hand,we denounce</a>
                            </h5>
                            <p class="card-text">
                                By Sugar / May 18.2019
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>