
<div class="container" style="margin-bottom: 120px;">
    <div class="product-out">
        <div style="margin-bottom: 50px;">
            <h2>Best Selleing</h2>
        </div>
        <div id="demo" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>
            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row product">
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6 col-12" *ngFor="let product of productList | slice:0:4">
                            <div class="card">
                                <div class="card-img-top">
                                    <img class="image-cover" [src]="createImgPath(product.productImagePath)" style="height:250px" alt="product">
                                    <p class="onnew">Best Selling</p>
                                    <div class="icon-product" >
                                        <button style=" margin-top:65%;" class="btn" (click)="AddItemToCart(product.id)">
                                            <span class="fa fa-cart-plus"></span>
                                        </button>
                                        <button style=" margin-top:65%;" type="button" class="btn click-quick-view" routerLink="/ProductDetails/{{product.id}}" >
                                            <span class="fa fa-search-plus" ></span>
                                        </button>
                                        <button style=" margin-top:65%;" class="btn" (click)="AddToWishList(product.id)" >
                                            <span class="fas fa-heart">	</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p class="woocommerce-loop-product__title">
                                        <a style="text-decoration: none;">
                                        {{product.productName}}</a></p>
                                    <span class="price">
                                            <ins>
                                                <span class="woocommerce-Price-amount amount">
                                                    <span class="woocommerce-Price-currencySymbol">$</span>{{product.unitPrice}}
                                                </span>
                                            </ins>
                                </span>
                                </div>
                            </div>

                        </div>
                    </div> 
                </div>
                <div class="carousel-item ">
                    <div class="row product">
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6 col-12" *ngFor="let product of productList | slice:0:4">
                            <div class="card">
                                <div class="card-img-top">
                                    <img class="image-cover" [src]="createImgPath(product.productImagePath)" style="height:250px" alt="product">
                                    <p class="onnew">Best Selling</p>
                                    <div class="icon-product" >
                                        <button style=" margin-top:65%;" class="btn" (click)="AddItemToCart(product.id)">
                                            <span class="fa fa-cart-plus"></span>
                                        </button>
                                        <button style=" margin-top:65%;" type="button" class="btn click-quick-view" routerLink="/ProductDetails/{{product.id}}" >
                                            <span class="fa fa-search-plus" ></span>
                                        </button>
                                        <button style=" margin-top:65%;" class="btn" (click)="AddToWishList(product.id)" >
                                            <span class="fas fa-heart">	</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p class="woocommerce-loop-product__title">
                                        <a style="text-decoration: none;">
                                        {{product.productName}}</a></p>
                                    <span class="price">
                                            <ins>
                                                <span class="woocommerce-Price-amount amount">
                                                    <span class="woocommerce-Price-currencySymbol">$</span>{{product.unitPrice}}
                                                </span>
                                            </ins>
                                </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="carousel-item ">
                    <div class="row product">
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6 col-12" *ngFor="let product of productList | slice:0:4">
                            <div class="card">
                                <div class="card-img-top">
                                    <img class="image-cover" [src]="createImgPath(product.productImagePath)" style="height:250px" alt="product">
                                    <p class="onnew">Best Selling</p>
                                    <div class="icon-product" >
                                        <button style=" margin-top:65%;" class="btn" (click)="AddItemToCart(product.id)">
                                            <span class="fa fa-cart-plus"></span>
                                        </button>
                                        <button style=" margin-top:65%;" type="button" class="btn click-quick-view" routerLink="/ProductDetails/{{product.id}}" >
                                            <span class="fa fa-search-plus" ></span>
                                        </button>
                                        <button style=" margin-top:65%;" class="btn" (click)="AddToWishList(product.id)" >
                                            <span class="fas fa-heart">	</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p class="woocommerce-loop-product__title">
                                        <a style="text-decoration: none;">
                                        {{product.productName}}</a></p>
                                    <span class="price">
                                            <ins>
                                                <span class="woocommerce-Price-amount amount">
                                                    <span class="woocommerce-Price-currencySymbol">$</span>{{product.unitPrice}}
                                                </span>
                                            </ins>
                                </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


 <!--deal of the day-->
 <div class="container-fluid">
    <div class="row deal-day">
        <div class="content-deal-day">
            <div class="title">
                <h2>deal of the day</h2>
            </div>
            <ul class="list-inline" id="dealday">
                <li>
                    <h2 id="dealdays">05</h2>

                    <p>Days</p>
                </li>
                <li>
                    <h2 id="dealhours">12</h2>

                    <p>Hours</p>
                </li>
                <li>
                    <h2 id="dealminutes">47</h2>

                    <p>Mins</p>
                </li>
                <li>
                    <h2 id="dealseconds">41</h2>

                    <p>Secs</p>
                </li>
            </ul>
            <button class="btn btn-lg">SHOP NOW</button>
        </div>
    </div>
</div>
<!--end deal of the day-->