.menu a {
    font-size: 14px;
}
.menu ul{
    padding-top: 5px;
}
#circle{
    background-color: #ffa6a8;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-left: 135px;
    margin-top: -13px;
}
#count{
    background-color: #074d6d;
    padding: 2px 5px;
    position: absolute;
    border-radius: 50%;
    color: #fff;
    font-size: 10px;
    margin-top: -35px;
    margin-left: 11px;
}
.remove {
	background:  none;
	border:      1px solid #999999;
	padding:     6px 20px;
}

.remove:hover{
    background-color: #ffa6a8;
    border: #ffa6a8;
    color: white;
}