<div class="header" style="background-color: #000;height: 50px;">
    <div class="container-fluid">
        <div class="">
            <div class=" header-menu-desktop d-flex justify-content-between">              
                <div>
                    <div class="menu">
                        <ul style="margin-top: 5px;">
                            <li><a class="btn" routerLink="/CreateShop" style="background: #000;color:#fff">Create Shop</a></li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div class="header-right menu" style="margin-top: 15px;">
                        <ul class="list-inline" style="margin-top: 0px;padding-top: 0px;">
                            <li><a style="background: #000;color:#fff"><i  style="color:#fff; font-size: 15px;" class="fas fa-user"> </i> {{CurrentUser.userName}}</a>
                                <ul style="height: 170px;width: 150px;">
                                    <li style="padding: 0px;margin: 0px;" (click)="goToProfile()"><a>My Profile</a></li>
                                    <li style="padding: 0px;margin: 0px;" ><a href="about.html">Settings</a></li>
                                    <li style="padding: 0px;margin: 0px;" (click)="logout()"><a class="btn" style="background: #000;">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
    <div class="header">
        <div class="container-fluid">
            <div class="header-mobile">
                <div class="header-menu-mobile d-flex justify-content-between">
                    <div>
                        <button><span style="font-size: 22px;" class="fas fa-bars click-mobile"></span></button>
                    </div>
                    <div class="logo" style="margin-top: 20px;">
                        <a routerLink="/profile" style="text-decoration: none;"><h2 style="color: black;">Handistic</h2></a>
                        <div id="circle"></div>
                    </div>
                    <div style="margin-top: 20px;">
                        <div class="row header-right">
                            <ul class="list-inline">
                                <li>
                                    <a href="javascript:void(0)" class="search-header1"><img src="../../assets/imager/home/search-header.png" alt="" style="width: 20px;height: 20px;margin-top: -10px;"></a>
                                </li> 
                                <li><a routerLink="/Cart" class="cart-index">
                                    <img src="../../assets/imager/home/bag-2.png" alt=""
                                         style="width: 16px;height: 22px;margin-top: -10px;">
                                    <div id="count">
                                        {{cartItemList.length}}
                                    </div>
                                </a>
                                    <div class="widget_shopping_cart">
                                        <div class="widget_shopping_cart_content">
                                         
                                            <ul class="woocommerce-mini-cart cart_list product_list_widget ">
                                                <li class="woocommerce-mini-cart-item mini_cart_item clearfix"
                                                 *ngFor="let item of cartItemList | slice:0:3; let i= index ">
                                                    <a class="product-image">
                                                        <img [src]="createImgPath(productCartList[i].productImagePath)" width="60px" height="60px">
                                                        <a class="product-title">{{getProductName(i)}}</a>
                                                        <span class="float-right">
                                                            <span class="woocommerce-Price-currencySymbol">$</span>
                                                            {{item.unitPrice}}
                                                    </span>
                                                    <span class="quantity" style="margin-left:-20px;">
                                                        Qty: {{item.quantity}}
                                                    </span>
                                                    </a>
                                                   
                                                    <a href="#" class="">
                                                        <span class="lnr lnr-cross"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                            <p class="woocommerce-mini-cart__total total">
                                                <span>Order Total:</span>
                                                <span class="woocommerce-Price-amount amount">
                                                    <span class="woocommerce-Price-currencySymbol">$</span>
                                                    {{getTotalPrice()}}
                                                </span>
                                            </p>
                                            <p class="woocommerce-mini-cart__buttons buttons">
                                                <a routerLink="/Cart" class="button wc-forward au-btn btn-small">VIEW CART &
                                                    CHECKOUT</a>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                 
                                <li >
                                    <a  routerLink="/Wishlist" >
                                        <i class="far fa-heart"style="font-size: 22px;Color: #555"></i>
                                    </a>
                                    <div id="count">
                                        {{productwishList.length}}
                                    </div>
                                </li>                   
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-mobile">
                <ul>
                    <li><a style="text-decoration: none;" routerLink="/profile">home</a></li>
                    <li><a style="text-decoration: none;" routerLink="/HandmadeProducts">Store</a></li>
                    <li><a style="text-decoration: none;" routerLink="/Offers">Offers</a></li>
                    <li><a style="text-decoration: none;" routerLink="/bestSelleing">Best Selling</a></li>
                    <li><a style="text-decoration: none;" routerLink="/ContactUs">contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="container-fluid search-header">
            <form class="justify-content-center" (ngSubmit)="goToSearchPage(searchBar.value)">       
                <div class="input-group" style="width: 85%;"  >
                    <input class="form-control" style="outline: none;" type="text" placeholder="Search" #searchBar>
                    <div class="input-group-append" style="margin-top: 20px;">
                        <span type="submit"  class="input-group-text btn" style="background-color: #ffa6a8;"> 
                            <i  style="color: #fff;" class="fas fa-search"></i>
                        </span>
                    </div>
                </div>     
                <span style="width: 10%;" style="margin-top: 3px;" class="close-search remove">X</span>               
            </form>
        </div>
        <div class="container-fluid">
            <div class="header-desktop ">
                <div class=" header-menu-desktop d-flex justify-content-between">
                    <div>
                        <div class="logo">
                            <a routerLink="/profile" style="text-decoration: none;"><h2 style="color: black;">Handistic</h2></a>
                            <div id="circle"></div>
                        </div>
                    </div>
                    <div>
                        <div class="menu">
                            <ul>
                                <li><a routerLink="/profile">home</a></li>
                                <li><a routerLink="/HandmadeProducts">Store</a></li>
                                <li><a routerLink="/Offers" >Offers</a></li>
                                <li><a routerLink="/bestSelleing">Best Selling</a></li>
                                <li><a routerLink="/ContactUs">contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <div class="header-right">
                            <ul class="list-inline">
                                <li>
                                    <a href="javascript:void(0)" class="search-header1"><img src="../../assets/imager/home/search-header.png" alt="" style="width: 20px;height: 20px;margin-top: -10px;"></a>
                                </li> 
                                <li><a routerLink="/Cart" class="cart-index">
                                    <img src="../../assets/imager/home/bag-2.png" alt=""
                                         style="width: 16px;height: 22px;margin-top: -10px;">
                                    <div id="count">
                                        {{cartItemList.length}}
                                    </div>
                                </a>
                                    <div class="widget_shopping_cart">
                                        <div class="widget_shopping_cart_content">
                                         
                                            <ul class="woocommerce-mini-cart cart_list product_list_widget ">
                                                <li class="woocommerce-mini-cart-item mini_cart_item clearfix"
                                                 *ngFor="let item of cartItemList | slice:0:3; let i= index ">
                                                    <a class="product-image">
                                                        <img [src]="createImgPath(productCartList[i].productImagePath)" width="60px" height="60px">
                                                        <a class="product-title">{{getProductName(i)}}</a>
                                                        <span class="float-right">
                                                            <span class="woocommerce-Price-currencySymbol">$</span>
                                                            {{item.unitPrice}}
                                                    </span>
                                                    <span class="quantity" style="margin-left:-20px;">
                                                        Qty: {{item.quantity}}
                                                    </span>
                                                    </a>
                                                   
                                                    <a href="#" class="">
                                                        <span class="lnr lnr-cross"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                            <p class="woocommerce-mini-cart__total total">
                                                <span>Order Total:</span>
                                                <span class="woocommerce-Price-amount amount">
                                                    <span class="woocommerce-Price-currencySymbol">$</span>
                                                    {{getTotalPrice()}}
                                                </span>
                                            </p>
                                            <p class="woocommerce-mini-cart__buttons buttons">
                                                <a routerLink="/Cart" class="button wc-forward au-btn btn-small">VIEW CART &
                                                    CHECKOUT</a>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                 
                                <li >
                                    <a  routerLink="/Wishlist" >
                                        <i class="far fa-heart"style="font-size: 22px;Color: #555"></i>
                                    </a>
                                    <div id="count">
                                        {{productwishList.length}}
                                    </div>
                                </li>                   
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
              
                   