<app-header-after-login></app-header-after-login>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-sm-12 col-md-6">
            <form id="commentform" #SellerData="ngForm" class="comment-form common-form js-contact-form"
            (ngSubmit)="InsertSellerReview(SellerData)">
            <h2 style="padding-top: 20px;">Add Seller Review</h2>
            <div class="text-center" style="padding-bottom: 10px;padding-top: 10px;">
                <img src="../../assets/images/user.png" style="border-radius: 50%;width: 100px;height: 180;">
            </div>
            <h5 class="text-center"><a>{{CurrentSeller.userName}}</a></h5>
                <p class="comment-notes">
                    <br>
                    <span>Add a review</span>
                    <span id="email-notes">
                        Your email address will not be published. Required fields are marked
                        <span class="required">*</span>
                    </span>
                </p>
                <div class="comment-form-rating">
                    <label>Your rating</label>
                    
                    <p class="stars">
                        <span  [ngClass]="AddReview ? 'Add' : 'Remove'">
                            <i class="fa-star" [ngClass]="{'far': !AddReview,'fas': AddReview}" (click)="AddStar()"></i>
                        </span>
                        <span  [ngClass]="AddReview1 ? 'Add' : 'Remove'">
                            <i class="fa-star" [ngClass]="{'far': !AddReview1,'fas': AddReview1}" (click)="AddStar1()"></i>
                        </span>
                        <span  [ngClass]="AddReview2 ? 'Add' : 'Remove'">  
                            <i class="fa-star" [ngClass]="{'far': !AddReview2,'fas': AddReview2}" (click)="AddStar2()"></i>
                        </span>
                        <span  [ngClass]="AddReview3 ? 'Add' : 'Remove'">
                            <i class="fa-star" [ngClass]="{'far': !AddReview3,'fas': AddReview3}" (click)="AddStar3()"></i>
                        </span>
                        <span  [ngClass]="AddReview4 ? 'Add' : 'Remove'">
                            <i class="fa-star" [ngClass]="{'far': !AddReview4,'fas': AddReview4}" (click)="AddStar4()"></i>
                        </span>                                                
                    </p>
                </div>
                <input type="number" hidden value="{{SellerReview.rating}}" #rating="ngModel" name="rating" [(ngModel)]="SellerReview.rating" >
                <input type="text" hidden value="{{SellerReview.userId}}" #userId="ngModel" name="userId" [(ngModel)]="SellerReview.userId" >
                <input type="text" hidden  value="{{SellerReview.sellerId}}"  #sellerId="ngModel" name="sellerId" [(ngModel)]="SellerReview.sellerId" >
                <p class="comment-form-comment">
                    <textarea id="comment" class="form-control" name="content" #content="ngModel" required placeholder="Write Your Review..." [(ngModel)]="SellerReview.content"></textarea>
                </p>
                <p >
                    <button type="submit" [disabled]="!SellerData.valid" class="submit btn" style="color: #fff;" >Submit</button>
                    <span><i class="zmdi zmdi-arrow-right"></i></span>
                </p>
            </form>
        </div>
    </div>
</div>
<div class="container" *ngFor="let product of ProductList; let i=index">
    {{satrs(i)}}
    <div class="product-single-detail" >
        <div class="row product_detail"  >
            <div class="col-md-6 col-sm-12 col-12">
                <img [src]="createImgPath(product.productImagePath)" style="width: 100% ;height: 400px;">
            </div>
            <div class="col-md-6 col-sm-12 col-12">
                <h2>{{product.productName}} | ${{product.unitPrice}}</h2>
                <p >
                    <span *ngFor="let num of list" >
                      <i class="fas fa-star"></i>
                    </span>
                    <span *ngFor="let item of list1">
                        <i class="far fa-star"></i>
                    </span>
                    &nbsp; ({{CountReviews[i]}} customer review)
                </p>
                <p>{{product.details}} </p>
                <div class="infor-product">
                    <p><span>By: </span>{{product.userName}}</p>
                    <p><span>Category: </span>{{CategoryList[i]}}</p>
                    <p><span>Size: </span>{{product.size}}</p>
                    <p><span>Share: </span> 
                        <a href=""><i class="fab fa-facebook"></i></a>
                        <a href=""><i class="fab fa-linkedin-in"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                    </p>
                </div>
                <div class="information" >
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-contact-tab" data-toggle="pill" href="#pills-contact"
                               role="tab" aria-controls="pills-contact" aria-selected="false">Reviews </a>
                        </li>
                    </ul>
                    <div class="tab-content " id="pills-tabContent">
                        <div class="woocommerce-Reviews active" id="reviews">
                            <div id="review_form_wrapper ">
                                <div id="review_form">
                                    <div id="respond" class="comment-respond">
                                        <form id="commentform" #ReviewData="ngForm" class="comment-form common-form js-contact-form"
                                        (ngSubmit)="InsertReview(ReviewData)">
                                            <p class="comment-notes">
                                                <span>Add a review</span>
                                                <span id="email-notes">
													Your email address will not be published. Required fields are marked
                                                    <span class="required">*</span>
												</span>
                                            </p>
                                            <div class="comment-form-rating">
                                                <label>Your rating</label>
                                                
                                                <p class="stars">
                                                    <span  [type]="AddReview ? 'Add' : 'Remove'">
                                                        <i class="fa-star" [ngClass]="{'far': !AddReview,'fas': AddReview}" (click)="AddStar()"></i>
                                                    </span>
                                                    <span  [type]="AddReview1 ? 'Add' : 'Remove'">
                                                        <i class="fa-star" [ngClass]="{'far': !AddReview1,'fas': AddReview1}" (click)="AddStar1()"></i>
                                                    </span>
                                                    <span  [type]="AddReview2 ? 'Add' : 'Remove'">  
                                                        <i class="fa-star" [ngClass]="{'far': !AddReview2,'fas': AddReview2}" (click)="AddStar2()"></i>
                                                    </span>
                                                    <span  [type]="AddReview3 ? 'Add' : 'Remove'">
                                                        <i class="fa-star" [ngClass]="{'far': !AddReview3,'fas': AddReview3}" (click)="AddStar3()"></i>
                                                    </span>
                                                    <span  [type]="AddReview4 ? 'Add' : 'Remove'">
                                                        <i class="fa-star" [ngClass]="{'far': !AddReview4,'fas': AddReview4}" (click)="AddStar4()"></i>
                                                    </span>                                                
                                                </p>
                                            </div>
                                            {{func(i)}}
                                            <input type="number" hidden value="{{ReviewObject.rating}}" #rating="ngModel" name="rating" [(ngModel)]="ReviewObject.rating" >
                                            <input type="text" hidden value="{{ReviewObject.userId}}" #userId="ngModel" name="userId" [(ngModel)]="ReviewObject.userId" >
                                            <input type="number" hidden value={{ReviewObject.productId}}  #productId="ngModel" name="productId" [(ngModel)]="ReviewObject.productId" >
                                            <p class="comment-form-comment">
                                                <textarea id="comment" class="form-control" name="content" #content="ngModel" required placeholder="Write Your Review..." [(ngModel)]="ReviewObject.content"></textarea>
                                            </p>
                                            <p >
                                                <button type="submit" [disabled]="!ReviewData.valid" class="submit btn" style="color: #fff;" >Submit</button>
                                                <span><i class="zmdi zmdi-arrow-right"></i></span>
                                            </p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>