.infor-product i{
    color:black;
    margin-right: 7px;
}
.infor-product p span{
    font-weight: bold;
}
.required{
    color: red;
}

  
  button {
    border: none;
    width: 100%;
    height: 49px;
    margin-top: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #ffa6a8;
    color: #fff;
    text-transform: uppercase;
    font-family: "Muli-SemiBold";
    font-size: 15px;
    letter-spacing: 2px;
    transition: all 0.5s;
    position: relative;
    overflow: hidden; }
  
  