<app-header-after-login></app-header-after-login>
<div class="title-page"
    style="background-position: center right;background-size: 60% 120%;background-repeat: no-repeat;background-color: #E5D7CA;">
    <div class="container">
        <div class="row">
            <div class=" col-md-6 inner-title-page">
                <h1>Best Selling</h1>
            </div>
        </div>
    </div>
</div>
<!--end title detail-->

<!--product list-->
<div class="container">
    <div class="prodcut-list">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="row product">
                    <div class="col-md-4 col-sm-6 col-12" *ngFor="let product of productsPerPage ">
                        <div class="card">
                            <div class="card-img-top">
                                <a href="product-single.html" class="wp-post-image">
                                    <img [src]="createImgPath(product.productImagePath)" style="height: 250px;">
                                </a>
                                <p *ngIf="!hasDiscount(product)" class="onnew">New</p>
                                <p *ngIf="hasDiscount(product)" class="onsale">Sale</p>                                
                                <div class="icon-product">
                                    <button style="margin-top: 55%;" class="btn" (click)="AddItemToCart(product.id)">
                                        <span class="fa fa-cart-plus"></span>
                                    </button>
                                    <button style="margin-top: 55%;" type="button" class="btn click-quick-view"
                                        routerLink="/ProductDetails/{{product.id}}">
                                        <span class="fa fa-search-plus"></span>
                                    </button>
                                    <button  style="margin-top: 55%;" class="btn" (click)="AddToWishList(product.id)">
                                        <span class="fas fa-heart"> </span>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="card-title"><a class="float-left" href="">Added by {{product.userName}} </a>
                                </p><br>

                                <p class="woocommerce-loop-product__title"><a>
                                        {{product.productName}}</a></p>
                                        <span class="price">
                                            <del *ngIf="hasDiscount(product)">
                                                <span class="woocommerce-Price-amount amount">
                                                    <span class="woocommerce-Price-currencySymbol">$</span>{{product.unitPrice}}
    
                                                </span>
                                            </del>
                                            <ins>
                                                <span class="woocommerce-Price-amount amount">
                                                    <span class="woocommerce-Price-currencySymbol">$</span>{{getPriceAfterDiscount(product)}}
                                                </span>
                                            </ins>
                                        </span>
                            </div>
                        </div>

                    </div>
                    <nav aria-label="..." class="col-12 mt-5">
                        <div class="d-inline-block">
                            <ul class="pagination">
                                <li class="page-item"
                                    [ngClass]="{disabled:currentPageNumber <=1, cursorNotAllowed:currentPageNumber <=1}">
                                    <button style="color: #000;" class="page-link" [disabled]="currentPageNumber <=1"
                                        (click)="getSelectedPage(currentPageNumber-1)">Previous</button>
                                </li>
                                <li class="page-item" *ngFor='let x of counter(numberOfPages);let i = index'
                                    [class.active]="currentPageNumber == (i+1)">
                                    <button class="page-link" id="page-link" (click)="getSelectedPage(i+1)">{{i+1}}
                                    </button>
                                </li>
                                <li class="page-item"
                                    [ngClass]="{disabled:currentPageNumber >=numberOfPages, cursorNotAllowed:currentPageNumber >=numberOfPages}">
                                    <button style="color: #000;" class="page-link"
                                        [disabled]="currentPageNumber >= numberOfPages"
                                        (click)="getSelectedPage(currentPageNumber+1)">Next</button>
                                </li>
                            </ul>
                        </div>
                        <div class="float-right h5 mr-4 text-secondary">Showing {{currentPageNumber}} of
                            {{numberOfPages}}</div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!--end product list-->