
    <div class="app-card app-card-doc shadow-sm h-100">
        <div class="app-card-thumb-holder p-3">
            <span class="icon-holder">
                <!-- <i class="fas fa-file-alt text-file"></i> -->
                <i class="far fa-file-word" style="width:200px;height:200px;color: blue;"></i>
            </span>
            <span class="badge bg-success">NEW</span>
             <a class="app-card-link-mask" href="#file-link"></a>
        </div>
        <div class="app-card-body p-3 has-card-actions">
            
            <h4 class="app-doc-title truncate mb-0"><a href="#file-link">Doc lorem ipsum dolor sit amet</a></h4>
            <div class="app-doc-meta">
                <ul class="list-unstyled mb-0">
                    <li><span class="text-muted">Type:</span> Text</li>
                    <li><span class="text-muted">Size:</span> 512KB</li>
                    <li><span class="text-muted">Uploaded:</span> 3 mins ago</li>
                </ul>
            </div><!--//app-doc-meta-->
        </div>
    </div>
           