<div class="header" >
    <div class="container-fluid">
        <div class="header-desktop ">
            <div class=" header-menu-desktop d-flex justify-content-between">              
                <div>
                    <div class="menu">
                        <ul style="margin-top: 10px;">
                            <li><a routerLink="/">Create Shop</a></li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div class="header-right menu" style="margin-top: 10px;">
                        <ul class="list-inline" style="margin-top: 10px;">
                            <li><a href="about.html">MY Profile</a>
                                <ul>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="what-we-offer.html">What We Offer</a></li>
                                    <li><a href="our-team.html">Our Team</a></li>
                                    <li><a href="comming-soon.html">Comming Soon</a></li>
                                    <li><a href="error-page.html">Error Page</a></li>
                                </ul>
                            </li>
                            <li href="/Login"><a >Login</a></li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!--end header desktop-->
<!--header mobile-->
<div class="header">
    <div class="container-fluid search-header">
        <form>
            <input type="text" placeholder="Search">
            <span class="close-search">X</span>
        </form>
    </div>
    <div class="container-fluid">
        <div class="header-mobile">
            <div class="header-menu-mobile d-flex justify-content-between">
                <div>
                    <button><span class="lnr lnr-menu click-mobile"></span></button>
                </div>
                </div>
            </div>
        </div>
       
        <div class="menu-mobile">
            <div>
                <div class="menu">
                    <ul>
                        <li><a routerLink="/">Create Shop</a></li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="header-right menu">
                    <ul class="list-inline" style="margin-top: 5px;">
                        <li><a href="about.html">MY Profile</a>
                            <ul>
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="what-we-offer.html">What We Offer</a></li>
                                <li><a href="our-team.html">Our Team</a></li>
                                <li><a href="comming-soon.html">Comming Soon</a></li>
                                <li><a href="error-page.html">Error Page</a></li>
                            </ul>
                        </li>
                        <li href="/Login"><a >Login</a></li>
                    </ul>
                </div>
        </div>
    </div>
<!--end header mobile-->