<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="../../assets/AdminCss/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="../../assets/AdminCss/style.css" />
</head>

<body>
  <div class="container-scroller">
    <nav class="navbar navbar-default col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper" style="background-color: oldlace;">
        <a class="navbar-brand brand-logo" href="index.html"><h2 style="line-height: 40px;">Handy</h2></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center">
        <button class="navbar-toggler navbar-toggler d-none d-lg-block navbar-dark align-self-center mr-3" type="button" data-toggle="minimize">
          <span class="navbar-toggler-icon"></span>
        </button>
        <form class="form-inline mt-2 mt-md-0 d-none d-lg-block">
          <input class="form-control mr-sm-2 search" type="text" placeholder="Search">
        </form>
        <ul class="navbar-nav ml-lg-auto d-flex align-items-center flex-row">
          <li class="nav-item">
            <a class="nav-link profile-pic" href="#"><img class="rounded-circle" src="../../assets/AdminIMages/images/face.jpg" alt=""></a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row row-offcanvas row-offcanvas-right">
        <nav class="sidebar sidebar-offcanvas" id="sidebar"  style="background-color: oldlace;">
          <div class="user-info">
            <img src="images/face.jpg" alt="">
            <p class="name">Marwa</p>
            <p class="designation">Manager</p>
          </div>
          <ul class="nav">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">
                <img src="images/icons/1.png" alt="">
                <span class="menu-title">Home</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="pages/widgets.html">
                <img src="images/icons/2.png" alt="">
                <span class="menu-title">Category</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="pages/forms/index.html">
                <img src="images/icons/005-forms.png" alt="">
                <span class="menu-title">City</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="pages/ui-elements/buttons.html">
                <img src="images/icons/4.png" alt="">
                <span class="menu-title">Users</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="pages/tables/index.html">
                <img src="images/icons/5.png" alt="">
                <span class="menu-title">Charts</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="pages/charts/index.html">
                <img src="images/icons/6.png" alt="">
                <span class="menu-title">Charts</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="pages/icons/index.html">
                <img src="images/icons/7.png" alt="">
                <span class="menu-title">Icons</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="pages/ui-elements/typography.html">
                <img src="images/icons/8.png" alt="">
                <span class="menu-title">Typography</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#sample-pages" aria-expanded="false" aria-controls="sample-pages">
                <img src="images/icons/9.png" alt="">
                <span class="menu-title">Sample Pages<i class="fa fa-sort-down"></i></span>
              </a>
              <div class="collapse" id="sample-pages">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item">
                    <a class="nav-link" href="">
                      Blank Page
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="">
                      Login
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="">
                      Register
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="">
                      404
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="">
                      500
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">
                <img src="images/icons/10.png" alt="">
                <span class="menu-title">Settings</span>
              </a>
            </li>
          </ul>
        </nav>
        <div class="content-wrapper">
          
         
        </div>

      </div>
    </div>

  </div>

  <!-- <script src="../../assets/Adminjs/jquery/dist/jquery.min.js"></script>
  <script src="../../assets/AdminCss/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="../../assets/AdminCss/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
  <script src="../../assets/Adminjs/js/hoverable-collapse.js"></script>
  <script src="../../assets/Adminjs/misc.js"></script> -->
</body>

</html>
