<app-header-after-login></app-header-after-login>
<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 ">
    <div class="">
        <div class="card card-4">
            <div class="card-body">
                <form *ngIf="firstform;" #userData="ngForm" (ngSubmit)="UserData()">
                    <h2 class="title" style="margin-bottom: 30px;">Create Your Shop</h2>
                    <h3> Please fill you data here.</h3>
                    <div *ngIf="showError; else elseBlock">
                        <div class="alert alert-danger" role="alert">
                          {{errorMessage.error | json}}
                        </div>
                      </div>
                      <ng-template #elseBlock></ng-template>
                    <input type="text" [(ngModel)]="request.userId" hidden   id="userId" name="userId"> 
                    <div class="row" style="margin-top: 50px;">
                        <div class="col-lg-6 col-md-4" >
                            <label class="label">Frist Name<span class="star">*</span> </label>
                            <div class="">
                                <input  class="form-control" type="text" placeholder=" Enter your frist name" [class.is-invalid]="firstName.invalid && firstName.touched " [class.is-invalid]="firstName.invalid && firstName.touched" required #firstName="ngModel" [(ngModel)]="request.firstName" name="firstName"> 
                            </div>
                            <small class="text-danger"[class.d-none]="firstName.untouched || firstName.valid">First Name is required</small>
                        </div>
                        <div class="col-lg-6 col-md-4">
                            <label class="label">Last Name<span class="star">*</span> </label>
                            <div class="input-group">
                                <input class="form-control " type="text" placeholder="Enter your last name" [class.is-invalid]="lastName.invalid && lastName.touched " [class.is-invalid]="lastName.invalid && lastName.touched" required #lastName="ngModel" [(ngModel)]="request.lastName" name="lastName"> 
                            </div>
                            <small class="text-danger"[class.d-none]="lastName.untouched || lastName.valid">Last Name is required</small>
                        </div>
                     </div>
                     <div class="row" style="margin-top: 50px;">
                        <div class="col-lg-6 col-md-4">
                            <label class="label">Phone Number<span class="star">*</span> </label>
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Enter your phone number" [class.is-invalid]="phone.invalid && phone.touched " [class.is-invalid]="phone.invalid && phone.touched" required #phone="ngModel" [(ngModel)]="request.phone" name="phone">
                            </div>
                            <small class="text-danger"[class.d-none]="phone.untouched || phone.valid">Phone is required</small>
                        </div>
                        <div class="col-lg-6 col-md-4">
                            <label class="label">Choose Your Goverorate<span class="star">*</span></label>
                            <div class="input-group">
                                <select  class="form-control form-select-lg" [class.is-invalid]="governorate.invalid && governorate.touched " [class.is-invalid]="governorate.invalid && governorate.touched" required #governorate="ngModel" [(ngModel)]="request.governorate" name="governorate">
                                    <option *ngFor="let city of CityList " value="{{city.name}}">{{city.name}}</option>
                                </select>
                            </div>
                            <small class="text-danger"[class.d-none]="governorate.untouched || governorate.valid">Governorate is required</small>
                        </div>
                    </div>
                   <div class="row" style="margin-top: 50px;">
                        <div class="col-lg-6 ">
                            <label class="label" >Upload Image for you id card<span class="star">*</span></label>
                            <!-- Upload image input-->
                            <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                                <input id="upload" #file type="file" multiple  class="form-control border-0" (change)="uploadFile(file.files)"
                                [class.is-invalid]="idCardImage.invalid && idCardImage.touched" [class.is-invalid]="idCardImage.invalid && idCardImage.touched" required #idCardImage="ngModel" [(ngModel)]="request.idCardImage" name="idCardImage">
                            </div>
                            <small style="margin-left: 15px;" class="text-danger"[class.d-none]="idCardImage.untouched || idCardImage.valid">Id Card Image is required</small>
                        </div>
                        <div class="col-lg-6 ">
                            <label class="label" >Upload image for you with id card<span class="star">*</span></label>
                            <!-- Upload image input-->
                            <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                                <input id="upload" type="file"  class="form-control border-0" #file type="file" multiple (change)="uploadFile(file.files)"
                                [class.is-invalid]="personWithCardImage.invalid && personWithCardImage.touched " [class.is-invalid]="personWithCardImage.invalid && personWithCardImage.touched" required #personWithCardImage="ngModel" [(ngModel)]="request.personWithCardImage" name="personWithCardImage">
                            </div>
                            <small style="margin-left: 15px;" class="text-danger"[class.d-none]="personWithCardImage.untouched || personWithCardImage.valid">Personal Image with Card is required</small>
                        </div>

                        <div class="col-lg-6" style="margin-bottom: 20px;">
                            <label class="label" style="margin-top: 30px;margin-bottom: 15px;">Choose Method to show your products<span class="star">*</span></label>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="image" checked (change)="ShowLinkData()">
                                <label class="form-check-label" for="flexRadioDefault1" >
                                    Upload image of my product
                                </label>
                              </div>  
                            <div class="form-check" style="margin: 0px;">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="link" (change)="ShowImageData()">
                                <label class="form-check-label" >
                                    Type my profile link contaion my product
                                </label>
                            </div>
                        </div> 
                      
                        <div *ngIf="ShowLink; else elseBlock" class="col-lg-6 col-md-4 " style="padding-top: 20px;" id="link-div">
                            <label class="label">Upload image of product<span class="star">*</span> </label>
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Enter your Link for Your Products" 
                                [class.is-invalid]="link.invalid && link.touched " [class.is-invalid]="link.invalid && link.touched" required #link="ngModel" name="link" [(ngModel)]="request.link"> 
                            </div>
                            <small class="text-danger"[class.d-none]="link.untouched || link.valid">Your Profile Link is required</small>
                        </div>
                        <ng-template #elseBlock></ng-template>
                        
                        <div *ngIf="ShowImage; else BlockImage"  class="col-lg-6"  id="image-div">
                            <label class="label" style="margin-top: 30px;">Your Profile Link<span class="star">*</span></label>
                            <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                                <input id="upload" type="file" class="form-control border-0" #file type="file" multiple (change)="uploadFile(file.files)"
                                [class.is-invalid]="productWithCardImage.invalid && productWithCardImage.touched " [class.is-invalid]="productWithCardImage.invalid && productWithCardImage.touched" required #productWithCardImage="ngModel" name="productWithCardImage" [(ngModel)]="request.productWithCardImage">
                            </div>
                            <small class="text-danger"[class.d-none]="productWithCardImage.untouched || productWithCardImage.valid">Image of product Link is required</small>
                        </div>
                    </div>
                    <ng-template #BlockImage></ng-template>
                    <div class="row justify-content-center">
                        <button [disabled]="!userData.valid" type="submit" >Next</button>
                    </div>
                </form>   
                
          <!------>
         
                <form *ngIf="secondform;" #shopData="ngForm" (ngSubmit)="CreateShop(shopData)">                
                    <h2 class="title" style="margin-bottom: 80px;">Create Your Shop</h2>
                    <h3>
                        Let's get started! Tell us about you and your shop.
                    </h3>
                    <div *ngIf="Error; else elseBlock">
                        <div class="alert alert-danger" role="alert">
                          {{errorMessage.error | json}}
                        </div>
                      </div>
                      <ng-template #elseBlock></ng-template>
                    <input type="text" [(ngModel)]="currentShop.rquestId" hidden id="rquestId" name="rquestId"> 
                    <div class="row" style="margin-top: 60px;">
                        <div class="col-lg-6 col-md-4">
                            <label class="label">Choose Where you'd like to provide your service<span class="star">*</span></label>
                            
                            <ng-select [items]="city" [class.is-invalid]="cities.invalid && cities.touched " [class.is-invalid]="cities.invalid && cities.touched" required #cities="ngModel" [(ngModel)]="shopData.cities" name="cities"
                            bindLabel="name"
                            placeholder="Select City"
                            appendTo="body"
                            [multiple]="true"
                            [(ngModel)]="Selected"></ng-select>
                            <small class="text-danger"[class.d-none]="cities.untouched || cities.valid">City is required</small>
                        </div>
                        <div class="col-lg-6 col-md-4">
                            <label class="label">Shop name<span class="star">*</span></label>
                            <div class="input-group mb-3">
                                <div class="input-group">
                                    <input  class="form-control" type="text" placeholder=" Enter your frist name" [class.is-invalid]="shopName.invalid && shopName.touched " [class.is-invalid]="shopName.invalid && shopName.touched" required #shopName="ngModel" [(ngModel)]="shopData.shopName" name="shopName"> 
                                </div>  
                                <small class="text-danger"[class.d-none]="shopName.untouched || shopName.valid">Shop Name is required</small>                          
                            </div>
                        </div>
                    </div>
                     
                    <div class="row justify-content-center" >
                        <button type="submit" [disabled]="!shopData.valid" >Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br><br><br>
<!-- Jquery JS-->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
