<div
  class="app-card app-card-account shadow-sm d-flex flex-column align-items-start"
>
  <div class="app-card-header p-3 border-bottom-0">
    <div class="row align-items-center gx-3">
      <div class="col-auto">
        <div class="app-icon-holder">
          <svg
            width="1em"
            height="1em"
            viewBox="0 0 16 16"
            class="bi bi-credit-card"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z"
            />
            <path
              d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z"
            />
          </svg>
        </div>
        <!--//icon-holder-->
      </div>
      <!--//col-->
      <div class="col-auto">
        <h4 class="app-card-title">Admins</h4>
      </div>
      <!--//col-->
    </div>
    <!--//row-->
  </div>
  <!--//app-card-header-->
  <div class="app-card-body px-4 w-100">
    <div class="table-responsive">
      <table class="table table-borderless mb-0">
        <thead>
          <tr>
            <th class="meta">#</th>
            <th class="meta">Name</th>
            <th class="meta">Img Profile</th>
            <th class="meta">Email</th>
            <th class="meta">Phone</th>
            <th class="stat-cell">action</th>
            <th class="stat-cell">action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let admin of Admins; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              <a href="#">{{ admin.name }}</a>
            </td>
            <td><img src={{admin.imgProfile}} class="avatar" alt="Avatar"></td>
            <td>
              <a href="#">{{ admin.email }}</a>
            </td>
            <td>
              <a href="#">{{ admin.phone }}</a>
            </td>
            <td class="stat-cell">
              <div class="text-left">
                <a
                  class="btn-sm app-btn-secondary text-primary"
                  routerLink="/update-admin/{{ admin.id }}"
                  >update</a
                >
              </div>
            </td>
            <td class="stat-cell">
              <div class="text-left">
                <a
                  class="btn-sm app-btn-secondary text-danger"
                  (click)="removeAdmin(admin)"
                  >Delete</a
                >
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--//table-responsive-->
  </div>

  <div class="app-card-footer p-4 mt-auto">
    <a class="btn app-btn-secondary" routerLink="/create" >Add Admin</a>
   </div>
  

  <!--//app-card-footer-->
</div>
