.content-about .review-homepage {
  padding-bottom: 80px;
  border-bottom: 1px solid #e6e6e6;
  margin: 0 0 80px 0;
}

.about {
  margin: 150px 0 120px 0;
}

.inner-about {
  .content-inner-about-left {
    padding-top: 50px;
    z-index: 2;

    .content-item-about {
      text-align: right;
      margin-bottom: 80px;
      position: relative;

      .img-icon-about {
        position: absolute;
        top: 0;
        right: -70px;
      }

      h3 {
        font-size: 25px;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        margin-bottom: 30px;
        position: relative;
      }

      h3:before {
        content: " ";
        position: absolute;
        height: 13px;
        width: 90px;
        display: block;
        right: 0;
        bottom: -20px;
        background: #ffa6a8;
        -webkit-mask: url(../../assets/imager/line-title2.svg) repeat left center;
        mask: url(../../assets/imager/line-title2.svg) repeat left center;
      }
    }
  }

  .content-inner-about-right {
    padding-top: 50px;
    z-index: 2;

    .content-item-about {
      position: relative;
      margin-bottom: 80px;

      h3 {
        font-size: 25px;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        margin-bottom: 30px;
        position: relative;
      }

      h3:before {
        content: " ";
        position: absolute;
        height: 13px;
        width: 90px;
        display: block;
        left: 0;
        bottom: -20px;
        background: #ffa6a8;
        -webkit-mask: url(../../assets/imager/line-title2.svg) repeat left center;
        mask: url(../../assets/imager/line-title2.svg) repeat left center;
      }
    }

    .img-icon-about {
      position: absolute;
      top: 0;
      left: -80px;

    }
  }

  .content-inner-about-center {
    text-align: center;
    z-index: 1;

    img {
      margin-left: -10px;
      height: auto;
    }
  }

  p {
    font-size: 15px;
    color: #666666;
    font-family: 'Raleway', sans-serif;
  }
}

.intro-about {
  background-color: #fafafa;
  overflow: hidden;

  .intro-video {
    width: 100%;
    height: auto;
    position: relative;

    img {
      width: 100%;
      height: 100%;
    }

    a {
      position: absolute;
      top: 45%;
      left: 45%;

      img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
      }
    }
  }

  .progress-intro-about {
    padding: 100px 80px;
    width: calc(100% - 15px);;

    h2 {
      font-family: 'El Messiri', sans-serif;
      font-size: 60px;
      margin-bottom: 40px;
      display: block;
      position: relative;
    }

    h2:before {
      content: " ";
      position: absolute;
      height: 13px;
      width: 150px;
      display: block;
      left: 0;
      bottom: -10px;
      background: #ffa6a8;
      -webkit-mask: url(../../assets/imager/line-title2.svg) repeat left center;
      mask: url(../../assets/imager/line-title2.svg) repeat left center;
    }

    span {
      position: absolute;
      color: #333333;
      top: 0;
      right: 0;
    }

    p {
      position: relative;
      margin-top: 30px;
      color: #666666;
      display: block;
    }

    .progress {
      height: 10px;
      margin-bottom: 40px;
      display: block;
    }

    .progress-bar {
      height: 10px;
      background: #666666;
    }
  }
}

@media all and (max-width: 360px) {
  .about {
    margin: 50px 0;

    .inner-about {
      background-image: none;

      .content-inner-about-left {
        .content-item-about {
          text-align: left;
          margin-bottom: 40px;

          .img-icon-about {
            display: none;
          }

          h3:before {
            left: 0 !important;
          }
        }
      }

      .content-inner-about-right {
        .content-item-about {
          text-align: left;
          margin-bottom: 40px;

          .img-icon-about {
            display: none;
          }
        }
      }
    }
  }

  .intro-about {
    .progress-intro-about {
      width: 100%;
      padding: 0 30px 0 0;
      margin: 30px 0 50px 20px;

      h2 {
        font-size: 30px;
      }
    }
  }
}

@media all and (min-width: 361px) and(max-width: 767px) {
  .inner-about {
    background-image: none;

    .content-inner-about-left {
      padding: 20px;

      .content-item-about {
        text-align: left;
        margin-bottom: 40px;

        .img-icon-about {
          top: 0;
          right: 0;
        }
      }

      h3:before {
        left: 0 !important;
      }
    }

    .content-inner-about-right {
      padding: 20px;

      .content-item-about {
        margin-bottom: 40px;

        .img-icon-about {
          top: 0;
          left: 80%;
        }
      }
    }
  }
  .intro-about {
    .progress-intro-about {
      margin: 30px 20px 50px 20px;
      padding: 0 30px 0 0;

      h2 {
        font-size: 35px;
      }
    }
  }
}

@media all and (max-width: 1023px) and(min-width: 768px) {
  .about {
    margin: 100px 0;
  }
  .inner-about {
    background: none;

    .content-inner-about-left {
      .content-item-about {
        text-align: left;

        .img-icon-about {
          top: 0;
          right: 0;
        }

        h3:before {
          left: 0 !important;
        }
      }
    }

    .content-inner-about-right {
      .content-item-about {
        .img-icon-about {
          top: 0;
          left: 90%;
        }
      }
    }
  }
  .intro-about {
    .progress-intro-about {
      padding: 50px 20px;
      margin: 0 !important;

      h2 {
        font-size: 40px;
      }
    }
  }
}

@media all and (min-width: 1024px) and (max-width: 1365px) {
  .inner-about {
    background: none;

    .content-inner-about-left {
      .content-item-about {
        text-align: left;

        .img-icon-about {
          top: 0;
          right: -25px;
        }

        h3:before {
          left: 0 !important;
        }
      }
    }
  }
}