.banner{
  background-image: url("https://via.placeholder.com/1173x386.jpg/f5f2f2/e8e8e7");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x:-20px ;
  margin-bottom: 70px;
  margin-top: 70px;
  margin-left: 0 !important;
  margin-right: 0 !important;
  .banner-right{
    padding-left: 70px;
    padding-top: 100px;
    h2{
      font-family: 'El Messiri', sans-serif;
      font-size: 40px;
      z-index: 105;
      text-transform: uppercase;
      position: relative;
    }
    h3{
      font-family: 'El Messiri', sans-serif;
      font-size: 53px;
      text-transform: uppercase;
      margin-bottom: 50px;
    }
    .line-banner{
      width: 30%;
      height: 20px;
      background: #fecbcc;
      position: absolute;
      left: 23%;
      top: 28%;
    }
    button{
      font-size: 15px;
      font-family: 'Raleway', sans-serif;
      padding:15px 20px ;
      margin-bottom: 80px;
      border: 1px solid black;
      line-height: 1;
      border-radius: 0;
      position: relative;
      z-index: 2;
    }
    button:before{
      content: "";
      width: 0;
      height: 100%;
      font-size: 15px;
      background: #333333;
      position: absolute;
      z-index: -1;
      left: 0;
      top: 0;
      -webkit-transition: width 0.5s;
      transition: width 0.5s;
    }
    button:hover:before{
      width: 100%;
    }
    button:hover{
      color: white;
    }

  }
}

@media all and (max-width: 360px) {
  .banner{
    background-position:right ;
  }
  .banner-right{
      padding-left: 20px !important;
    .line-banner{
      top: 30% !important;
      width: 40% !important;
    }
    h3{
      font-size: 40px !important;
    }
  }
}
@media all and (max-width: 767px) and (min-width: 361px) {
  .banner{
    background-position:right ;
  }
  .banner-right{
    padding-left: 20px !important;
    .line-banner{
      top: 30% !important;
      width: 35% !important;
      left: 20% !important;
    }
    h3{
      font-size: 45px !important;
    }
  }
}
@media all and (max-width: 1023px) and (min-width: 768px) {
  .banner-right{
    padding-left: 100px !important;
    .line-banner{
      top: 29% !important;
      width: 25% !important;
      left: 20% !important;
    }
    h3{
      font-size: 50px !important;
    }
  }
}