.component-item {
  margin: 130px 0 20px 0;
  .component-item-detail {
    width: 100%;
    text-align: center;
    img {
      max-width: 100%;
      max-height: 100%;
    }
    .component-item-content-detail {
      margin-top: -60px;
        h2 {
          color: #ffa6a8;
          font-weight: bold;
          font-family: 'Raleway', sans-serif;
          font-size: 80px;
          margin-bottom: 0;
          line-height: 1;
          small {
            font-size: 25px;
            font-weight: normal !important;
            color: black !important;
            line-height: 1;
          }
      }
      p {
        font-family: 'Raleway', sans-serif;
        font-size: 15px;
        margin: 0;
        color: #666666;
        max-width: 100%;
        padding: 0 10px;
      }
    }
  }
}

@media all and (max-width: 360px) {
  .component-item{
    margin-top: 50px;
    .component-item-detail{
      margin-top: 20px !important;
      .component-item-content-detail{
        text-align: center;
        width: 100%;
        padding: 0 10px;
      }
    }
  }
}
@media all and (min-width: 361px) and (max-width: 767px) {
  .component-item{
    margin-top: 50px;
    .component-item-detail{
      margin-top: 20px;
      .component-item-content-detail{
        text-align: center !important;
        width: 95% !important;
        padding: 0 10px;
      }
    }
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  .component-item{
    margin-top: 50px;
    .component-item-detail{
      .component-item-content-detail{
        h2{
          font-size: 72px !important;
          small{
            font-size: 18px !important;
          }
        }
      }
    }
  }
}