.contact-us{
  width: 100%;
  .iframe-responsive{
    position: relative;
    overflow: hidden;
    padding-top: 35%;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }
.content-contact-us{
  margin: 100px 0 80px 0;
  padding-bottom: 100px;
  border-bottom: 1px solid #e6e6e6;
  h1{
    font-size: 60px;
    font-family: 'El Messiri', sans-serif;
    line-height: 1;
    position: relative;
    margin-bottom: 50px;
  }
  h1:before{
    content: " ";
    position: absolute;
    height: 13px;
    width: 110px;
    display: block;
    left: 0;
    bottom: -10px;
    background: #ffa6a8;
    -webkit-mask: url(../../assets/imager/line-title2.svg) repeat left center;
    mask: url(../../assets/imager/line-title2.svg) repeat left center;
  }
  ul{
    margin-bottom: 70px;
    p{
      font-family: 'Raleway', sans-serif;
      font-size: 20px;
      font-weight: 600;
    }
    li{
      font-family: 'Raleway', sans-serif;
      font-size: 15px;
      margin-bottom: 20px;
      line-height: 1.5;
    }
  }
  a{
    margin-right: 20px;
    i{
      color: #cccccc;
    }
  }

  i:hover{
    text-decoration: none;
    color: #ffa6a8;
  }
  textarea{
    width: 100%;
    height: 150px;
    padding-top: 15px;
    text-indent: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
  }
  input{
    text-indent: 10px;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
  }
  input:focus,textarea:focus{
    outline: none;
  }
  button{
    background: #333333;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    line-height: 1;
    padding: 15px 30px;
    border: none;
    border-radius: 0;
  }
  button:hover{
    background: #ffa6a8;
  }
}
}
@media all and (max-width: 767px) {
  .contact-us{
    .iframe-responsive{
      padding-top: 50% !important;
    }
    .content-contact-us{
      margin-top: 50px !important;
      form{
        margin-top: 50px;
      }
    }

  }
}