.item-homepage {
  margin: 120px 0;
  display: table-cell;
  vertical-align: middle;
  .content-item-homepage {
    text-align: center;
    font-family: 'El Messiri', sans-serif;
    font-size: 40px;
    .wpb_wrapper {
      height: 100%;
      position: relative;
      z-index: 2;
      width: 100%;
    }
    .wpb_wrapper:hover{
      border: none;
    }
    .wpb_wrapper:before{
      content: " ";
      position: absolute;
      width: 0;
      height: 15px;
      background: #fecbcc;
      z-index: 3;
      left: 0;
      top: 0;
      transition: width 0.5s;
    }
    .wpb_wrapper:hover:before{
      width: 100%;
    }
    .wpb_wrapper:after{
      content: " ";
      position: absolute;
      width: 15px;
      height: 0;
      background: none;
      z-index: 3;
      right: 0;
      top: 0;
      transition: height 0.5s;
    }
    .wpb_wrapper:hover:after{
      height: 75%;
      border-left: 15px solid #fecbcc;
      border-bottom: 15px solid transparent;
    }

    .banner-section {
      height: 100%;
      position: relative;
      z-index: 2;
      width: 100%;
    }
    .banner-section:hover{
      border: none;
    }
    .banner-section:before{
      content: " ";
      position: absolute;
      width: 15px;
      z-index: 3;
      left: 0;
      top: 0;
      transition: width 1.5s;
      height: 0;
    }
    .banner-section:hover:before{
      height: 35%;
      border-left: 15px solid #fecbcc;
      border-bottom: 15px solid transparent;
    }
    .banner-section:after{
      content: " ";
      position: absolute;
      width: 15px;
      height: 0;
      z-index: 3;
      right: 0;
      bottom: 0;
      transition: height 0.5s;
    }
    .banner-section:hover:after{
      height: 30%;
      border-top: 15px solid transparent;
      border-right: 15px solid #c6e5ee;
    }
    .inner-banner-section{
      padding: 70px 0;
      position: relative;
      z-index: 2;
      display: block;
      border:15px solid #e6e6e6;
      text-align: center;

      h2{
        line-height: 1;
        position: relative;
        margin-bottom: 50px;
      }
      h2:before{
        content: " ";
        position: absolute;
        height: 13px;
        width: 150px;
        display: block;
        left: 50%;
        margin-left: -75px;
        bottom: -15px;
        background: #fecbcc;
        -webkit-mask: url(../../assets/imager/line-title2.svg) repeat left center;
        mask: url(../../assets/imager/line-title2.svg) repeat left center;
      }
    }
    .inner-banner-section:before{
      content: " ";
      position: absolute;
      width: 0;
      height: 15px;
      background:#c6e5ee;
      z-index: 3;
      right: 0;
      bottom: -15px;
      transition: width 0.5s;
    }
    .inner-banner-section:hover:before{
      width: 100%;
    }
    .inner-banner-section:after{
      content: " ";
      position: absolute;
      width: 15px;
      height: 0;
      background: #c6e5ee;
      display: block;
      z-index: 3;
      left: -15px;
      bottom: -15px;
      transition: height 0.5s;
    }
    .inner-banner-section:hover:after{
      height: 75%;
      border-top: 15px solid #fecbcc;
      border-left: 15px solid transparent;
    }
  }
}

@media all and (max-width: 360px) {
  .content-item-homepage{
    margin: 15px 0;
    .inner-banner-section{
      padding: 30px 0 !important;
    }
  }
}
@media all and (min-width: 361px) and (max-width: 767px) {
  .content-item-homepage{
    margin: 15px 0;
    .inner-banner-section{
      padding: 40px 30px !important;
      h2{
        margin-bottom: 15px;
      }
    }
  }
}
@media all and (min-width: 361px) and (max-width: 767px) and (orientation: landscape) {
  .content-item-homepage{
    margin: 15px 0;
    .inner-banner-section{
      padding: 40px 30px !important;
      h2{
        margin-bottom: 15px;
      }
    }
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  .content-item-homepage{
    .inner-banner-section{
      padding: 30px 0 !important;
    }
  }
}
@media all and (min-width: 1024px) and (max-width: 1365px) {
  .content-item-homepage{
    .inner-banner-section{
      padding: 30px 0 !important;
    }
  }
}