.content-homepage-home3 {
 margin-bottom: 80px;
  display: block;
  margin-top: 80px;
  .title {
    text-align: center;
    h2 {
      font-family: 'El Messiri', sans-serif;
      font-size: 40px;
      margin-bottom: 0;
      position: relative;
    }
    h2:before{
      content: " ";
      position: absolute;
      height: 13px;
      width: 150px;
      display: block;
      bottom: -15px;
      left: 50%;
      margin-left: -75px;
      background: #ffa6a8;
      -webkit-mask: url(../../assets/imager/line-title2.svg) repeat left center;
      mask: url(../../assets/imager/line-title2.svg) repeat left center;
    }
  }

  .layer-content-homepage {
    width: 100%;
    position: relative;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .product-out {
    margin-top: 0;

    .product {
      margin-top: 50px;
    }
  }
}
.banner-product {
  margin: 20px 0;
  a {
    display: block;
    position: relative;
    img {
      width: 100%;
      min-height: 70px !important;
      height: auto;
    }
  }
}


@media all and (max-width: 360px) {
  .content-homepage-home3 {
    margin: 30px 0;

    .layer-content-homepage {
      margin: 30px 0;
    }
    .product-out {
      margin-top: 15px !important;
      .title{
        h2{
          margin-bottom: 15px !important;
        }
      }
      .product {
        margin-top: 20px;
      }
    }
  }
  .blog-homepage3 {
    .content-masonry {
      .icon-share {
        left: 15% !important;
      }
    }
  }
}
@media all and (min-width: 361px) and (max-width: 767px) {
  .content-homepage-home3 {
    margin: 30px 0;

    .layer-content-homepage {
      margin: 30px 0;
    }

    .product-out {
      margin-top: 0;
      margin-bottom: 20px;
      .title{
        h2{
          margin-bottom: 20px !important;
        }
      }
      .product {
        margin-top: 20px;
      }
    }
  }
  .blog-homepage3 {
    .content-masonry {
      .icon-share {
        left: 3% !important;
      }
    }
  }
}
@media all and (min-width: 361px) and (max-width: 767px) and (orientation: landscape){
  .content-homepage-home3 {
    margin: 30px 0;
    .product-out {
      margin-top: 0;
      margin-bottom: 20px;
      .title{
        h2{
          margin-bottom: 15px !important;
        }
      }
      .product {
        margin-top: 20px;
      }
    }
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  .blog-homepage3 {
    .content-masonry {
      .card-body {
        span{
          padding: 0 10px;
        }
        .icon-share {
          left: 10% !important;
          width: 75% !important;
        }
      }
    }
  }
}
@media all and (min-width: 1024px) and (max-width: 1365px) {
  .blog-homepage3 {
    .content-masonry {
      .card-body {
        span{
          padding: 0 10px;
        }
        .icon-share {
          left: 0 !important;
          width: 70% !important;
        }
      }
    }
  }
}