.content-shop-2colum{
 padding: 40px 0 80px 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 80px;
}
.content-shop-3colum{
  padding: 40px 0 80px 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 80px;
}
.content-shop-4colum{
  padding: 40px 0 80px 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 80px;
}