.inner-title-page{
  padding: 100px 0;
  text-align: left;
  h1{
    font-size: 60px;
    font-family: 'El Messiri', sans-serif;
    position: relative;
    margin-bottom: 30px;
    display: inline-block;
  }
  h1:before{
    content: " ";
    position: absolute;
    height: 13px;
    width: 110px;
    display: block;
    left: 0;
    bottom: -10px;
    background: #ffa6a8;
    -webkit-mask: url(../../assets/imager/line-title2.svg) repeat left center;
    mask: url(../../assets/imager/line-title2.svg) repeat left center;
  }
  p{
    color: #333333;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    span{
      color: #c2c2c2;
      font-family: 'Raleway', sans-serif;
      font-size: 15px;
    }
  }
}


@media screen and (min-width: 1024px) and (max-width: 1365px){
  .inner-title-page{
    h1{
      font-size: 60px;
      line-height: 1;
    }
    img{
      margin-bottom: 40px;
    }
  }
}
@media all and (min-width: 768px) and (max-width: 1023px){
  .inner-title-page{
    text-align: left;
    h1{
      line-height: 1;
    }
    img{
      margin-bottom: 30px;
    }
  }
}
@media all and (max-width: 767px) and (min-width: 361px) {
  .inner-title-page{
    text-align: left;
    h1{
      font-size: 40px;
      line-height: 1;
    }
    img{
      margin-bottom: 40px;
    }
  }
}
@media all and (max-width: 360px) {
  .inner-title-page{
    text-align: left;
    h1{
      font-size: 40px;
      line-height: 1;
    }
    h1:before{
      bottom: -15px;
    }
    img{
      margin-bottom: 40px;
    }
  }
}