.app-card-notification .notification-type .badge {
    font-size: .65rem;
    text-transform: uppercase
}

.app-card-notification .profile-image {
    width: 60px;
    height: 60px
}

.app-card-notification .notification-title {
    font-size: 1.125rem
}

.app-card-notification .notification-content {
    font-size: .875rem
}

.app-card-notification .notification-meta {
    font-size: .75rem;
    color: #828d9f
}

.app-card-notification .action-link {
    font-size: .875rem
}

.app-card-notification .app-card-footer {
    background: #fafbff
}

.app-card .app-card-header {
    border-bottom: 1px solid #e7e9ed
}