

.rounded {
    border-radius: 1rem
}

.nav-pills #nav-link1 {
    color: #555
}
i{
    color: #555
}
li .active{
 background-color: #ffa6a8;
 color: #fff;
}

.nav-pills #nav-link.active {
    color: white
}

input[type="radio"] {
    margin-right: 5px;
}
input{
  margin-bottom: 1px;
}
.bold {
    font-weight: bold
}
.label span{
  color: red;
}
.form {
    width: 100%;
    position: relative;
    z-index: 9;
    padding: 77px 61px 55px 66px ;
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); }
  
  
  button {
    border: none;
    width: 100%;
    height: 49px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #ffa6a8;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s;
    position: relative;
    overflow: hidden; }
 
  
  @media (max-width: 767px) {
    .form {
      padding: 35px;
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -ms-box-shadow: none;
      -o-box-shadow: none; }
}
    #login:hover{
       opacity: .5;
    }