.app-sidepanel {
    position: fixed;
    min-height: 100vh;
    height: 100%;
    left: 0;
    top: 0;
    font-size: .875rem;
    border-right: 1px solid #e7e9ed
}

.logo {
    width: 115px;
}

.app-sidepanel .panel-drop {
    display: none
}

.app-sidepanel .sidepanel-inner {
    position: relative;
    z-index: 10;
    background: #fff;
    box-shadow: rgba(0, 0, 0, .05) 0px 8px 15px;
    width: 250px;
    height: 100%
}

.app-sidepanel .sidepanel-close {
    display: none;
    position: absolute;
    z-index: 20;
    right: -2rem;
    top: 0;
    color: #fff;
    font-size: 2rem
}

.app-sidepanel.sidepanel-hidden {
    left: -400px
}

.app-sidepanel.sidepanel-visible {
    left: 0
}

.app-sidepanel .app-nav-main {
    overflow-y: auto;
    scrollbar-color: rgba(0, 0, 0, .1) #e7e9ed;
    scrollbar-width: thin
}

.app-sidepanel .app-nav-main::-webkit-scrollbar {
    width: 6px;
    background-color: #e7e9ed
}

.app-sidepanel .app-nav-main::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .1);
    border-radius: .5rem
}

.app-sidepanel-footer {
    width: 100%;
    bottom: 0;
    left: 0;
    border-top: 1px solid #e7e9ed;
    background: #f5f6fe
}

.app-sidepanel-footer .app-nav-footer {
    margin-bottom: 0
}

@media(max-width: 1199.98px) {
    .app-sidepanel {
        transition: all .4s ease-in-out;
        left: -400px
    }
}

@media(max-width: 1199.98px)and (prefers-reduced-motion: reduce) {
    .app-sidepanel {
        transition: none
    }
}

@media(max-width: 1199.98px) {
    .app-sidepanel.sidepanel-visible {
        display: block
    }
}

@media(max-width: 1199.98px) {
    .sidepanel-visible .sidepanel-drop {
        position: fixed;
        display: block;
        min-height: 100vh;
        height: 100%;
        width: 100%;
        min-width: 100vw;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, .35)
    }
}

@media(max-width: 1199.98px) {
    .sidepanel-visible .sidepanel-close {
        display: inline-block
    }
}

.app-branding {
    height: 60px;
    padding-top: 1rem;
    padding-left: 1rem;
    margin-bottom: 1rem
}

.app-branding .logo-icon {
    width: 36px;
    height: 36px
}

.app-branding .logo-text {
    color: #252930;
    font-size: 1.25rem;
    font-weight: 600;
    vertical-align: middle
}

.app-nav {
    color: #5d6778;
    display: block;
    padding: 0;
    width: 100%
}

.app-nav .app-menu {
    margin-bottom: 0
}

.app-nav .nav-item {
    display: block;
    color: #5d6778;
    background: #fff
}

.app-nav .nav-link {
    display: block;
    padding: .875rem 1rem;
    color: #252930;
    position: relative;
    display: block;
    padding-left: 3rem;
    border-left: 3px solid transparent
}

.app-nav .nav-link.active {
    color: #15a362;
    background: #edfdf6;
    border-left: 3px solid #15a362;
    font-weight: 500
}

.app-nav .nav-link.submenu-toggle.active {
    background: none;
    border-color: transparent
}

.app-nav .nav-link:hover {
    color: #15a362
}

.app-nav .nav-icon {
    position: absolute;
    left: 1rem;
    top: .7rem
}

.app-nav .nav-icon .bi {
    width: 1.25rem;
    height: 1.25rem
}

.app-nav .submenu-arrow {
    position: absolute;
    right: 1rem;
    top: .7rem;
    color: #828d9f
}

.app-nav .submenu-arrow svg {
    width: 14px;
    height: 14px
}

.app-nav .submenu-toggle {
    transition: all .4s ease-in-out
}

@media(prefers-reduced-motion: reduce) {
    .app-nav .submenu-toggle {
        transition: none
    }
}

.app-nav .submenu-toggle[aria-expanded=true] .submenu-arrow {
    color: #252930
}

.app-nav .submenu-toggle[aria-expanded=true] .submenu-arrow svg {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg)
}

.app-nav .submenu-item {
    margin-bottom: 0
}

.app-nav .submenu-link {
    color: #5d6778;
    font-size: .875rem;
    margin-left: 2rem;
    padding: .5rem 1rem;
    padding-left: 1rem;
    position: relative;
    display: block;
    margin-bottom: 0
}

.app-nav .submenu-link:before {
    background-color: #e7e9ed;
    content: " ";
    display: inline-block;
    height: inherit;
    left: 0;
    position: absolute;
    width: 2px;
    height: 100%;
    margin-top: -0.5rem
}

.app-nav .submenu-link:hover {
    color: #252930
}

.app-nav .submenu-link.active {
    color: #15a362
}

.app-nav .submenu-link.active:before {
    background-color: #15a362
}