<app-user-navbar></app-user-navbar>
<div class="main-body" style="margin-top: 0px;padding: top 0px;" >
    <div class="row gutters-sm">
      <div class="col-md-12 mb-3">
        <div class="card" style="background: #e9eaeb79;">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="../../assets/images/user.png"  class="rounded-circle" width="150">
              <div class="mt-3">
                <h4>{{user.userName}}</h4>
                <p class="text-muted font-size-sm">Egypt , {{user.city}}</p>
                <button routerLink="/chat" class="btn" style="border:2px solid #ffa6a8;color: #ffa6a8;">Message</button>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
<div class="col-md-12 col-lg-12 col-sm-12" style="display: inline-block;">
  <div class="card mb-3">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">User Name</h6>
        </div>
        <div class="col-sm-9 text-secondary">
            {{user.userName}}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">Email</h6>
        </div>
        <div class="col-sm-9 text-secondary">
          {{user.email}}
        </div>
      </div>
      <hr>
    <div class="row">
        <div class="col-sm-12 ">
          <a class="btn btn-info" style="background: #ffa6a8;border: #ffa6a8;color: #fff;" >Edit</a>
        </div>
      </div>
    </div>
  </div>
