<form #frm [formGroup]="editForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="mb-3">
    <label>Name</label>
    <input type="text" formControlName="name" class="form-control" required />
  </div>

  <div class="mb-3">
    <label>Email</label>
    <input type="email" formControlName="email" class="form-control" required />
  </div>

  <div class="mb-3">
    <label>Password</label>
    <input
      type="text"
      formControlName="contact"
      class="form-control"
      required
    />
  </div>

  <div class="mb-3">
    <label>Phone</label>
    <input
      type="number"
      formControlName="password"
      class="form-control"
      required
    />
  </div>

  <div class="mb-3">
    <label>imgUrl</label>
    <input
      type="text"
      formControlName="ImgUrl"
      class="form-control"
      required
    />
  </div>

  <div class="mb-3">
    <button type="submit" class="btn btn-primary">Update</button>
  </div>
</form>
