<div class="container-fluid">
    <div class="row review-homepage" style=" background-image: url('https://via.placeholder.com/1920x640.jpg/f5f2f2');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    ">
        <div class="container">
            <div class="row ">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class=""></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item">
                            <div class="content-review-homepage">
                                <img src="https://via.placeholder.com/160/dcadad" alt="">
                                <h3 class="text-center">Patricsia Petersen</h3>
                                <p class="text-center"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                        class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                </p>
                                <p style="padding-bottom: 100px;">
                                    There are many variations of passages of Lorem Ipsum available, but the majority
                                    have
                                    suffered alteration
                                    in some form, by injected humour, or randomised words which don't look even
                                    slightly
                                    believable. If you are
                                    going to use a passage of Lorem Ipsum, you need to be sure there isn't anything
                                    embarrassing hidden in the middle of text.
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item active">
                            <div class="content-review-homepage">
                                <img src="https://via.placeholder.com/160/dcadad" alt="">
                                <h3 class="text-center">Patricsia Petersen</h3>
                                <p class="text-center"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                        class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                </p>
                                <p style="padding-bottom: 100px;">
                                    There are many variations of passages of Lorem Ipsum available, but the majority
                                    have
                                    suffered alteration
                                    in some form, by injected humour, or randomised words which don't look even
                                    slightly
                                    believable. If you are
                                    going to use a passage of Lorem Ipsum, you need to be sure there isn't anything
                                    embarrassing hidden in the middle of text.
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="content-review-homepage">
                                <img src="https://via.placeholder.com/160/dcadad" alt="">
                                <h3 class="text-center">Patricsia Petersen</h3>
                                <p class="text-center"><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                        class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                </p>
                                <p style="padding-bottom: 100px;">
                                    There are many variations of passages of Lorem Ipsum available, but the majority
                                    have
                                    suffered alteration
                                    in some form, by injected humour, or randomised words which don't look even
                                    slightly
                                    believable. If you are
                                    going to use a passage of Lorem Ipsum, you need to be sure there isn't anything
                                    embarrassing hidden in the middle of text.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>