.app-header-inner {
    position: relative
}

@media(min-width: 1200px) {
    .app-header-inner {
        margin-left: 250px
    }
}

@media(max-width: 575.98px) {
    .search-mobile-trigger {
        cursor: pointer;
        -webkit-opacity: .8;
        -moz-opacity: .8;
        opacity: .8
    }
    .search-mobile-trigger:hover {
        color: #15a362;
        -webkit-opacity: 1;
        -moz-opacity: 1;
        opacity: 1
    }
    .app-search-box {
        display: none;
        position: absolute;
        left: 0;
        top: 56px;
        padding: 0;
        height: 100vh;
        background: rgba(0, 0, 0, .5);
        transition: all .4s ease-in-out
    }
}

@media(max-width: 575.98px)and (prefers-reduced-motion: reduce) {
    .app-search-box {
        transition: none
    }
}

@media(max-width: 575.98px) {
    .app-search-box .app-search-form .search-input {
        border-radius: 0;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem
    }
    .app-search-box .app-search-form .search-btn {
        top: 7px
    }
}

@media(max-width: 575.98px) {
    .app-search-box.is-visible {
        display: block
    }
}

.app-search-form {
    position: relative;
    max-width: 600px
}

.app-search-form .search-input {
    font-size: .875rem;
    border-radius: .25rem;
    padding-right: 3rem;
    padding-left: 1rem
}

.app-search-form .search-input:focus {
    border-color: #e7e9ed
}

.app-search-form .search-btn {
    color: #828d9f;
    background: none;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 0;
    padding: .5rem 1rem
}

.app-search-form .search-btn:active,
.app-search-form .search-btn:focus,
.app-search-form .search-btn:hover {
    outline: none !important;
    color: #15a362;
    box-shadow: none
}

.app-utility-item .icon-badge {
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    right: -0.45rem;
    top: -0.3rem;
    width: 20px;
    height: 20px;
    font-size: .6rem;
    font-weight: bold;
    padding-top: 1px;
    color: #fff;
    text-align: center
}

.app-utility-item .icon-badge.icon-badge {
    background: #ec776c;
    border: 2px solid #fff
}

.app-notifications-dropdown .dropdown-menu .profile-image {
    width: 36px;
    height: 36px
}

.app-notifications-dropdown .dropdown-menu {
    width: 300px
}

.app-notifications-dropdown .dropdown-menu .info {
    padding-right: 80px;
    position: relative
}

.app-notifications-dropdown .dropdown-menu .meta {
    color: #828d9f;
    position: absolute;
    right: 0;
    top: 0;
    font-size: .75rem
}

.app-notifications-dropdown .dropdown-menu .item:hover {
    background: #f5f5f5
}

.app-notifications-dropdown .dropdown-menu .link-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0
}

.app-notifications-dropdown .app-icon-holder {
    display: inline-block;
    background: #edfdf6;
    color: #15a362;
    width: 36px;
    height: 36px;
    padding-top: 4px;
    font-size: 1rem;
    text-align: center;
    border-radius: 50%
}

.app-notifications-dropdown .app-icon-holder.icon-holder-mono {
    background: #f5f6fe;
    color: #828d9f
}

.app-notifications-dropdown .app-icon-holder svg {
    width: 20px;
    height: 20px
}

@media(min-width: 576px) {
    .app-notifications-dropdown .dropdown-menu {
        width: 400px
    }
}

.app-notifications-dropdown .dropdown-menu .item {
    min-width: 250px;
    position: relative;
    border-bottom: 1px solid #e7e9ed
}

.app-notifications-dropdown .dropdown-menu .item:last-child {
    border-bottom: none
}

.app-notifications-dropdown .dropdown-menu .dropdown-menu-header {
    border-bottom: 1px solid #e7e9ed
}

.app-notifications-dropdown .dropdown-menu .dropdown-menu-title {
    font-size: 1rem
}

.app-notifications-dropdown .dropdown-menu .dropdown-menu-footer {
    border-top: 1px solid #e7e9ed
}

.app-utility-item {
    display: inline-block;
    margin-right: 1.25rem
}

.app-utility-item:last-child {
    margin-right: 0
}

.app-utility-item>a {
    color: #5d6778
}

.app-utility-item>a:hover {
    color: #252930
}

.app-utility-item .dropdown-toggle {
    position: relative
}

.app-utility-item .dropdown-menu {
    font-size: .875rem;
    margin: 0
}

.app-utility-item .dropdown-menu.show {
    top: 23px !important
}

.app-utility-item .icon {
    font-size: 1.25rem;
    width: 24px;
    height: 24px
}
.avatar {
    border-radius: 50%;
    /* vertical-align: middle;
    margin-right: 10px;
    width: 100px; */
}