<nav class="navbar navbar-default col-lg-12 col-12 p-0 fixed-top d-flex flex-row" style="background-color: #ffa6a8;">
  <div class="text-center navbar-brand-wrapper" style="background-color: white;">
    <a class="navbar-brand brand-logo" href="index.html"><h2 style="line-height: 40px;color: #ffa6a8;">Handy</h2></a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-center">
    <button class="navbar-toggler navbar-toggler d-none d-lg-block navbar-dark align-self-center mr-3" type="button" data-toggle="minimize">
      <span class="navbar-toggler-icon"></span>
    </button>
    <form class="form-inline mt-2 mt-md-0 d-none d-lg-block">
      <input class="form-control mr-sm-2 search" type="text" placeholder="Search">
    </form>
    <ul class="navbar-nav ml-lg-auto d-flex align-items-center flex-row">
      <li class="nav-item">
        <a class="nav-link profile-pic" href="#"><img class="rounded-circle" src="../../../assets/images/face.jpg" alt=""></a>
      </li>
    </ul>
  </div>
</nav>