<app-header-after-login></app-header-after-login>
<div class="container">
    <div class="product-single-detail">
        <div class="row product_detail">
            <div class="col-md-6 col-sm-12 col-12">
                <div id="slider" class="flexslider">
                    
                <div class="flex-viewport" style="overflow: hidden; position: relative;">
                    <ul class="slides" style="width: 800%; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
                        
                        <li style="width: 510px; height:625px; margin-right: 0px; float: left; display: block;">
                            <img [src]="createImgPath(product.productImagePath)"  >
                        </li>
                        <!-- items mirrored twice, total of 12 -->
                    </ul></div></div>
                <div id="carousel" class="flexslider">
                    
               <ul class="flex-direction-nav"><li class="flex-nav-prev"><a class="flex-prev flex-disabled" href="#" tabindex="-1"></a></li><li class="flex-nav-next"><a class="flex-next flex-disabled" href="#" tabindex="-1"></a></li></ul></div>
            </div>
            <div class="col-md-6 col-sm-12 col-12 content-product">
                <h2>{{product.productName}} | ${{product.unitPrice}}</h2>
                <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> &nbsp; (2 customer review)</p>
                <p>{{product.details}} </p>
                <div class="infor-product">
                    <p><span>By: </span>{{product.userName}}</p>
                    <p><span>Category: </span>{{category.name}}</p>
                    <p><span>Size: </span>{{product.size}}</p>
                    <p><span>Share: </span> 
                        <a href=""><i class="fab fa-facebook"></i></a>
                        <a href=""><i class="fab fa-linkedin-in"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a></p>
                        <div class="btn-group">
                            <a class="btn add-to-cart" (click)="AddItemToCart(productId)" >ADD TO CART <p><i class="fas fa-cart-plus"></i></p> </a>
                        </div>
                </div>
                <div class="information">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home"
                               role="tab" aria-controls="pills-home" aria-selected="true">Description</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile"
                               role="tab" aria-controls="pills-profile" aria-selected="false">Additional information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact"
                               role="tab" aria-controls="pills-contact" aria-selected="false">Reviews (2)</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                             aria-labelledby="pills-home-tab">
                            On the other hand, we denounce with righteous indignation and dislike men
                            who are so beguiled and demoralized by the charms of pleasure of the moment,
                            so blinded by desire, that they cannot foresee the pain and trouble that are
                            bound to ensue; and equal blame belongs to those who fail in their
                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                             aria-labelledby="pills-profile-tab">
                            Berry, sweet, fresh strawberries
                            <br>
                            Small capacity is suitable for travel and first time experience
                        </div>
                        <div class="tab-pane fade" id="pills-contact" role="tabpanel"
                             aria-labelledby="pills-contact-tab">
                            <div class="woocommerce-Reviews" id="reviews">
                                <h2>2 review for Reframe Your Viewpoints</h2>
                                <div id="comments">
                                    <div class="comment-list">
                                        <div class="comment-item">
                                            <div class="comment-content">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <img src="https://via.placeholder.com/80" alt="customer">
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="comment-body">
                                                            <div class="comment-author">
                                                                <span class="author">Emily Valdez</span>
                                                                <div class="star-rating">
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                </div>
                                                            </div>
                                                            <span class="comment-time">March 28, 2020</span>
                                                            <p>But I must explain to you how all this mistaken idea of
                                                                denouncing pleasure and praising pain was.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="comment-item">
                                            <div class="comment-content">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <img src="https://via.placeholder.com/80" alt="customer">
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="comment-body">
                                                            <div class="comment-author">
                                                                <span class="author">Emma Hayes</span>
                                                                <div class="star-rating">
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                </div>
                                                            </div>
                                                            <span class="comment-time">March 28, 2020</span>
                                                            <p>Nor again is there anyone who loves or pursues or desires to
                                                                obtain pain of itself, because it is pain.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="review_form_wrapper">
                                    <div id="review_form">
                                        <div id="respond" class="comment-respond">
                                            <form id="commentform" class="comment-form common-form js-contact-form"
                                                  action="#" method="POST">
                                                <p class="comment-notes">
                                                    <span>Add a review</span>
                                                    <span id="email-notes">
																		Your email address will not be published. Required fields are marked
																		<span class="required">*</span>
																	</span>
                                                </p>
                                                <div class="comment-form-rating">
                                                    <label>Your rating</label>
                                                    <p class="stars">
                                                        <a href="#" class="star-1"><i class="far fa-star"></i></a>
                                                        <a href="#" class="star-2"><i class="far fa-star"></i></a>
                                                        <a href="#" class="star-3"><i class="far fa-star"></i></a>
                                                        <a href="#" class="star-4"><i class="far fa-star"></i></a>
                                                        <a href="#" class="star-5"><i class="far fa-star"></i></a>
                                                    </p>
                                                </div>
                                                <p class="comment-form-author">
                                                    <input id="author" name="author" type="text" required=""
                                                           placeholder="Your Name">
                                                </p>
                                                <p class="comment-form-email">
                                                    <input type="email" required="" pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}"
                                                           name="email" id="email" placeholder="Your Email">
                                                </p>
                                                <p class="comment-form-comment">
                                                    <textarea id="comment" name="comment" required=""
                                                              placeholder="Write Your Review..."></textarea>
                                                </p>
                                                <p class="form-submit">
                                                    <input name="submit" type="submit" id="submit"
                                                           class="submit au-btn btn-small" value="Submit">
                                                    <span><i class="zmdi zmdi-arrow-right"></i></span>
                                                </p>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>