
<div class="slider-homepage1" >
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="slide-homepage"  style="background-image: url('../../../assets/images/banner.jpg')">
                    <div class="container">
                        <div class="row">
                            <div class=" col-md-6 col-sm-8 col-8 content-slide">
                                <h2>Spray <br>Moisturizing</h2>
                                <p>GENTLE FOR WINTER</p>
                                <a href="product-list.html" style="text-decoration: none;">shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="slide-homepage" style="background-image: url('../../../assets/images/banner.jpg')">
                    <div class="container">
                        <div class="row">
                            <div class=" col-md-9 col-sm-10 col-10 content-slide">
                                <h2>Skin <br> lightening cream</h2>
                                <p>GENTLE FOR WINTER</p>
                                <a href="product-list.html" style="text-decoration: none;">shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="slide-homepage" style="background-image: url('../../../assets/images/banner.jpg')">
                    <div class="container">
                        <div class="row">
                            <div class=" col-md-6 col-sm-9 col-9 content-slide">
                                <h2>Skin <br> Anti-aging</h2>
                                <p>GENTLE FOR WINTER</p>
                                <a href="product-list.html" style="text-decoration: none;">shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="control-slider-homepage1">
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon">  <span class="lnr lnr-chevron-left"></span>  </span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon"> <span class="lnr lnr-chevron-right"></span> </span>
        </a>
    </div>
</div>