<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Image</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Password</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let admin of Admins; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ admin.name }} </td>
      <td><img src={{admin.imgProfile}} class="avatar" alt="Avatar"></td>
      <td>{{ admin.email }}</td>
      <td>{{ admin.phone }}</td>
      <td>{{ admin.password }}</td>
      <td>
        <span (click)="removeAdmin(admin)" class="text-danger">Delete</span>
        &nbsp;
        <span routerLink="/update-admin/{{ admin.id }}" class="text-primary"
          >Edit</span
        >
      </td>
    </tr>
  </tbody>
</table>
Markup
