<!--content account-->
<div class="container" style="padding-top: 120px; padding-bottom: 80px;">
    <div class="row justify-content-center content-my-account">
        <div class="col-md-6 col-sm-12 col-12 content-my-account-right">
            <h2>City</h2>
            <form #cityform="ngForm" (ngSubmit)="OnSubmit(cityform)">
              <div *ngIf="showError" class="alert alert-danger" role="alert">
                  {{errorMessage.error | json}}
              </div>
              <div class="form-holder">
                  <p>City Name <span>*</span></p>
                  <input type="text" class="form-control"  [class.is-invalid]="cityName.invalid && cityName.touched " [class.is-invalid]="cityName.invalid && cityName.touched " required #cityName="ngModel" [(ngModel)]="cityform.cityName" name="cityName">
                  <small class="text-danger"[class.d-none]="cityName.untouched || cityName.valid">User Name is required</small>
              </div>
                <button type="submit"  class="bt" [disabled]="!cityform.valid" >Add</button>                
              </form>
        </div>
    </div>
</div>