
<div class="row mb-2" style="padding-top: 100px;width: 100%;margin: 0px;">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title mb-4" style="display: inline-block;margin-right: 40px;">Sellers Table </h5>
          <div class="table-responsive">
            <table class="table center-aligned-table">
              <thead>
                <tr class="text-primary">
                  <th>No</th>
                  <th>Frist Name</th>
                  <th>Last Name</th>
                  <th>Phone</th>
                  <th>Governorate</th>
                  <th>Details</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let seller of sellersList">
                  <td>{{seller.id}}</td>
                  <td>{{seller.firstName}}</td>
                  <td>{{seller.lastName}}</td>
                  <td>{{seller.phone}}</td>
                  <td>{{seller.governorate}}</td>
                  <td><a href="/sellerdetails/{{seller.id}}" class="btn btn-primary btn-md" style="color: #fff;">Details</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>  