<app-header-after-login *ngIf="IsLogin"></app-header-after-login>
<app-header-before-login *ngIf="!IsLogin"></app-header-before-login>
<div class="container">
    <div id="form" class="row justify-content-center" style="height: 110px;margin-top: 50px;">
        <div class="col-10">
            <div class="content-blog-left">
                <div class="search-blog">
                    <input style="width: 95%;" type="text" placeholder="Search" class="float-left" [(ngModel)]="filterTerm">
                    <button style="width: 5%;" class="btn float-right"><i style="color: #fff;" class="fas fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 50px;margin-top: 50px;">
        <div class="col-lg-3 col-md-6 col-sm-12" *ngFor="let item of UserList |filter:filterTerm; let i =index">
            <div class="content-blog-left" style="margin-bottom: 50px;">
                <div class="author-blog">
                    <img src="../../assets/images/user.png" style="width:90px;height: 90px;border-radius: 50%;">
                    <h3 > <span class="btn" (click)="goToProfile(i)"
                        style="color: #000;font-weight: bold;">{{item.userName}}</span> </h3>
                    <small>{{item.email}}</small>
                    <p>Egypt , {{item.city}}</p>
                </div>
            </div>
        </div>
    </div>
</div>