 <!--contact from-->
 <div class="container-fluid">
    <div class="row  justify-content-center contact-from">
        <div class=""style="width: 80%;">
            <form >
                <div class="row content-contact-from">
                    <div class="title-contact">
                        <h2>Contact From</h2>
                    </div>
                    <div class=" col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 input-left" style="padding-left: 0;">
                        <input type="text" placeholder="First Name">
                        <input type="text" placeholder="Email">
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 input-right" style="padding-right: 0;">
                        <input type="text" placeholder="Last Name">
                        <input type="text" placeholder="Phone">
                    </div>
                    <textarea placeholder="Type your comment" ></textarea>
                    <div class="submit-contact justify-content-center">
                        <button class="btn" style="background-color: #fce2DE;"  >SUBMIT</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--end contact from-->
<!--Follow Instagram-->
<div class="container">
    <div class="row content-follow-insta">
        <div class="title-follow-insta">
            <h2>Follow Instagram</h2>
            <p>@Handistic</p>
        </div>
        <div class="owl-carousel owl-theme">
            <div class="item"><a href="#"><img src="https://via.placeholder.com/220x210.jpg" alt=""></a></div>
            <div class="item"><a href="#"><img src="https://via.placeholder.com/220x210.jpg" alt=""></a></div>
            <div class="item"><a href="#"><img src="https://via.placeholder.com/220x210.jpg" alt=""></a></div>
            <div class="item"><a href="#"><img src="https://via.placeholder.com/220x210.jpg" alt=""></a></div>
            <div class="item"><a href="#"><img src="https://via.placeholder.com/220x210.jpg" alt=""></a></div>
            <div class="item"><a href="#"><img src="https://via.placeholder.com/220x210.jpg" alt=""></a></div>
            <div class="item"><a href="#"><img src="https://via.placeholder.com/220x210.jpg" alt=""></a></div>
            <div class="item"><a href="#"><img src="https://via.placeholder.com/220x210.jpg" alt=""></a></div>
            <div class="item"><a href="#"><img src="https://via.placeholder.com/220x210.jpg" alt=""></a></div>
            <div class="item"><a href="#"><img src="https://via.placeholder.com/220x210.jpg" alt=""></a></div>
        </div>
    </div>
</div>
<!--end Follow Instagram-->