<div class="container">
    <div class="row cosmetic">
        <div class="col-md-6 bg-cosmetic">
            <img src="../../../assets/images/gift.jpg" alt="">
        </div>
        <div class="col-md-6">
            <div class="inner-cosmetic">
                <h2>#Genuine Cosmetics</h2>
                <h3>Customers Satisfaction</h3>
                <h4>Organic cream</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <h4>Natural extracts</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <h4>Quality assurance</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
    </div>
</div>
<!--end cosmetic-->
<!--deal of the day-->
<!-- <div class="container-fluid">
    <div class="row deal-day">
        <div class="content-deal-day">
            <div class="title">
                <h2>deal of the day</h2>
            </div>
            <ul class="list-inline" id="dealday">
                <li>
                    <h2 id="dealdays">05</h2>

                    <p>Days</p>
                </li>
                <li>
                    <h2 id="dealhours">12</h2>

                    <p>Hours</p>
                </li>
                <li>
                    <h2 id="dealminutes">47</h2>

                    <p>Mins</p>
                </li>
                <li>
                    <h2 id="dealseconds">41</h2>

                    <p>Secs</p>
                </li>
            </ul>
            <button class="btn btn-lg">SHOP NOW</button>
        </div>
    </div>
</div> -->
<!--end deal of the day-->
