<div class="container-fluid">
    <div class="row deal-day">
        <div class="content-deal-day">
            <div class="title">
                <h2>deal of the day</h2>
            </div>
            <ul class="list-inline" id="dealday">
                <li>
                    <h2 id="dealdays">5</h2>

                    <p>Days</p>
                </li>
                <li>
                    <h2 id="dealhours">0</h2>

                    <p>Hours</p>
                </li>
                <li>
                    <h2 id="dealminutes">53</h2>

                    <p>Mins</p>
                </li>
                <li>
                    <h2 id="dealseconds">45</h2>

                    <p>Secs</p>
                </li>
            </ul>
            <button class="btn btn-lg">SHOP NOW</button>
        </div>
    </div>
</div>