<div class="container" >
    <div class="row cosmetic" >
        <div class="col-md-6 bg-cosmetic">
            <img src="../../../assets/images/gift.jpg" height="600px" width="90%" alt="">
        </div>
        <div class="col-md-6" style="padding-top: 90px;">
            <div class="inner-cosmetic">
                <h2>About Us</h2>
                <h3>Handmade Shops</h3>
                <h4>Are you fond of handicrafts?</h4>
                <p>
                    Do you prefer eating homemade food to eating at restaurants but it's hard to find a trusted one?
                    Here you can find trusted designers, and a unique collection of handmade gifts, clothes, accessories and other stuff ..
                    You can also find trusted people for your homemade recipes, just order Now!
                    Join us if you want to sell handmade crafts made by you and start your small business with us now!
                    We offer you a high level of safety, privacy and special service .
                </p>
            </div>
        </div>
    </div>
</div>

<!--end deal of the day-->
  